[2012-07-16 02:53] james182 opened #1 "FireSALE Not Working"
there seems to an issue with the "firesale" and "FireSALE" in navigating to sections.

Cannot redeclare class Module_Firesale in /Applications/MAMP/htdocs/PyroCMS-Professional-v2.1.2/addons/default/modules/firesale/details.php on line 476

[2012-07-16 02:59] james182 opened #2 "Assets Error"
in link changed firesale to FireSALE to get it to work.

Using this link: http://localhost/PyroCMS-Professional-v2.1.2/admin/FireSALE/gateways

But then you get this error:

Fatal error: Uncaught exception 'Asset_Exception' with message 'Found no files matching system/cms/modules/pages/css/dashboard.css' in /Applications/MAMP/htdocs/PyroCMS-Professional-v2.1.2/system/cms/libraries/Asset.php:1129 S

[2012-07-16 06:54] jHoldroyd commented on #2
Yeah we had a pretty bad data loss just before the initial commit and while we recovered most things it would seem we didn't recover everything. Luckily we have other backups which I'll be getting a hold of very soon and this issue should be resolved.

[2012-07-16 07:15] james182 commented on #2
ok thanks mate.

[2012-07-16 07:36] jHoldroyd commented on #1
I've just been checking over what is and isn't there from our back-ups and everything (apart from one image) is in tact and as it should be. Could you please make sure the module folder is lowercase and not installed in both default and shared_addons please? There seems to be some sort of conflict.

[2012-07-16 09:33] james182 commented on #1
I change the folders name to lowercase and it's only in default folder, but same thing..

with this link:
http://localhost/PyroCMS-Professional-v2.1.2/admin/firesale/products

i get this:
Fatal error: Cannot redeclare class Module_Firesale in /Applications/MAMP/htdocs/PyroCMS-Professional-v2.1.2/addons/default/modules/firesale/details.php on line 476

[2012-07-16 09:44] james182 commented on #1
seems to be this in details.php:

public function info()
    {
        return $this->firesale->info($this->information(), $this->language_file);
    }

[2012-07-16 09:54] ChristianGiupponi opened #3 "Valute error in Admin"
Hi,
in the products list the "Current Price" shows always the £ simbol but in my settings i have change it in €.
In the Shipping it's correct.

[2012-07-16 10:08] chrisnharvey commented on #3
Working on that, will post an update later today hopefully.

[2012-07-16 12:33] jHoldroyd commented on #1
I've assigned Chris to look into it, hopefully we can get to the bottom of it for you.

[2012-07-16 14:22] MarceauKa commented on #1
I've got the same problem...

I've just reinstall PyroCMS with the module folder to lowercase and it works great. But i've still got a problem when PyroCMS is in french...

[2012-07-16 15:25] jHoldroyd commented on #1
We've just tested the issue and Chris has already got a fix ready which we'll push in a few hours along with a number of other small tweaks

[2012-07-16 16:46] #1 closed, assigned to chrisnharvey

[2012-07-16 18:22] jHoldroyd commented on #3
All remaining instances of incorrect currency/tax should be taken care of

[2012-07-16 18:22] #3 closed, assigned to jHoldroyd

[2012-07-16 18:24] rgogulakrishnan opened #4 "Make description precise and brief"
Having a long description text makes the table alignment collapsed for the options.

http://d.pr/i/1aQo

Btwn, Just started testing. Will come up with more results. Great work.

[2012-07-16 18:29] rgogulakrishnan opened #5 "Suggestion: Have a unique menu item name"
How about having a menu item as "Third Party" like that so that all the thirdparty addons bought from store can be grouped under this menu item.

This is has to be decided along with PyroCMS team as this will prevent keep on adding new menu items and makes header wider!

Let me know your thoughts!

[2012-07-16 18:30] jHoldroyd commented on #4
The description was a bit of a joke but we'll have that taken care of in the next commit

[2012-07-16 21:05] jHoldroyd commented on #4
Should be fixed in the latest commit

[2012-07-16 21:05] #4 closed, assigned to nobody

[2012-07-16 21:48] james182 opened #6 "Install Issues"
i have just grabbed the latest version and installed, but the database tables are not installed:
- Products
- Gateways
- Orders
- Shipping

And settings goes to settings but with no FireSALE tab.

[2012-07-16 21:51] james182 opened #7 "Bug: Can't create category"
When trying to create a category i get this error:

A Database Error Occurred

Error Number: 1054

Unknown column 'title' in 'where clause'

SELECT `id` FROM (`default_firesale_categories`) WHERE `title` = 'T-shirts'

Filename: /Applications/MAMP/htdocs/PyroCMS-Professional-v2.1.2/libraries/MY_Form_validation.php

Line Number: 448

[2012-07-16 21:52] jHoldroyd commented on #6
Any error messages shown during install?
Also could you check that after uninstall all tables were dropped correctly before trying again

[2012-07-16 21:53] james182 commented on #6
i manually deleted the tables and everything and then re-installed but the above tables didn't get installed

[2012-07-16 21:57] jHoldroyd commented on #6
Almost all of our tables are streams powered and if you just dumped the tables many of the extra information streams stores is still present and presumably caused your install issues.

You're going to have to manually drop all of the data relating to the module from the streams tables before trying again.

[2012-07-16 22:02] jHoldroyd commented on #7
Please go check the default_firesale_categories table and make sure all fields are present, title should definitely be there. Were you trying that before you got your install sorted?

[2012-07-16 23:08] #7 closed, assigned to nobody

[2012-07-16 23:08] #6 closed, assigned to nobody

[2012-07-16 23:08] #2 closed, assigned to jHoldroyd

[2012-07-16 23:19] james182 opened #8 "Frontend"
How does the frontend store work?

New nav link with FireSALE Module selected gives nothing  on click

http://localhost/users/orders

also the navigation for categories:

A PHP Error was encountered

Severity: Notice

Message: Use of undefined constant children - assumed 'children'

Filename: Lex/Parser.php(725) : eval()'d code

Line Number: 77

[2012-07-17 11:02] rgogulakrishnan commented on #5
[Issue #1605](https://github.com/pyrocms/pyrocms/issues/1605) has been raised as a follow-up.

Lets see!!

[2012-07-17 11:11] rgogulakrishnan opened #9 "Have settings within the addon"
I remember once, while talking with phil, that the module specific settings should be moved to respective modules unless it has some global settings.

As the firesale module settings has nothing to do with global settings. These settings ars specific to this module only.

[2012-07-17 11:30] jHoldroyd commented on #9
It is something we've already planned to do and it's just a matter of time. We want to combine all of settings, including gateways into a tabbed settings page that third-party firesale modules can also attach into to keep everything in one, easy to use location.

It's just not a major priority, but it is planned and as soon as we get time it'll be done!

[2012-07-17 12:03] rgogulakrishnan commented on #9
Cool!

[2012-07-17 13:03] james182 commented on #8
Any thing on this?

[2012-07-18 09:43] jzmwebdevelopment opened #10 "Category Language Errors"
Are not bringing through the "text" = The firesale:label_title field is required. The firesale:label_slug field is required. The firesale:label_description field is required.

[2012-07-18 09:44] jHoldroyd commented on #8
We're looking into it, it's not something we'd ever seen until using it on a different server and it only happened twice. So we are trying to find a fix but are having huge problems replicating it to debug

[2012-07-18 16:56] jHoldroyd opened #11 "Product page js issue"
Price reduces on initial page load on all 4 of the price fields

[2012-07-18 16:59] jHoldroyd opened #12 "Product page db issue"
Occasionally the price isn't updated on editing a product

[2012-07-18 17:00] jHoldroyd opened #13 "Product page db issue"
Occasionally the price isn't updated on editing a product

[2012-07-18 17:02] jHoldroyd opened #14 "Product page db issue"
Occasionally the price isn't updated on editing a product

[2012-07-18 17:04] #13 closed, assigned to nobody

[2012-07-18 17:04] #14 closed, assigned to nobody

[2012-07-18 17:49] jHoldroyd commented on #5
I see why you'd want to do that, but I really don't expect you to get that far with it. There are many reasons to not do it, mainly you want to reduce how many clicks it takes a user to get to a certain item, and adding another dropdown for addons will just get messy.

[2012-07-18 18:35] #11 closed, assigned to nobody

[2012-07-18 18:35] #12 closed, assigned to nobody

[2012-07-19 03:41] james182 commented on #8
i just install theme and that's all, do i have to do anything else?

[2012-07-19 10:04] rgogulakrishnan commented on #5
This has nothing to do with FireSALE. There will be menu [re-structure](https://github.com/pyrocms/pyrocms/issues/1605#issuecomment-7082217) in PyroCMS v2.2 and you cannot have a module name as main menu item.

And its out of scope as of now!

[2012-07-19 10:04] #5 closed, assigned to nobody

[2012-07-19 13:17] jHoldroyd commented on #8
Not really, as long as you have routes enabled ticked in your settings, everything should work. You can stop the errors by removing the lex tag on line 77 and it's closing tag and it will stop the children error...but we currently have no clue why it's happening.

[2012-07-21 11:35] wturrell opened #15 "Errors loading categories & products"
Firstly this all looks awesome, looking forward to following progress as you move towards a release.  Well done.

I created a sample product and a category but then I did something (amongst other things I temporarily disabled then re-enabled the shipping module to see if I could supply a product without weight/dimensions) and now:

My product page (which was working) now just shows 'Coming Soon'.

[2012-07-21 12:05] jHoldroyd commented on #15
That looks like an issue with one of the latest changes I pushed for gathering parent categories. I'll look into it now and with that push shipping weights, etc. aren't required anymore - it just classes them at 0 since a lot of people don't know/want to add that extra info.

[2012-07-21 12:17] jHoldroyd commented on #15
I'll leave the issue open until you can confirm if it's fixed or not. Can't test it myself at the moment

[2012-07-21 14:11] jHoldroyd commented on #8
After testing we've found that this isn't an issue with this area of the module, it's an issue with the theme - which at this time we're not supporting (at least not here) and the above advice is a workaround that will remove the error.

So I'm closing this for now, but if you still need any more help with it DM me on Twitter.

[2012-07-21 14:11] #8 closed, assigned to nobody

[2012-07-21 15:15] wturrell commented on #15
Thanks. The admin Shipping Options change worked fine, but the categories still seem broken.

It'll load when the category has children (e.g. /toys/animals), but not when it doesn't (e.g. /postcards).  I feel like I ought to be to work out where it's breaking but I've failed to so far.

Also, I realise the views aren't done yet now (sorry, hadn't read that bit properly) but the link to the zip fil

[2012-07-21 15:24] jHoldroyd commented on #15
Sorry about that, site is migrating at the moment. I've updated the readme with the new link and I've added it below (just in my dropbox).

I'm just working on a fix for shipping at the moment, but as soon as I've got that taken care of I'll look into this issue a little more.

Theme: https://dl.dropbox.com/u/32596384/fs-theme.zip

[2012-07-21 18:53] jHoldroyd commented on #10
Should be taken care of now, thanks for reporting it :)

[2012-07-21 18:53] #10 closed, assigned to jHoldroyd

[2012-07-21 19:09] jHoldroyd commented on #15
Just done another "fix" for this issue and yet it's still performing the same query regardless of what I send to it as the where parameter. Still trying to figure it out but it's a weird one, it's definitely the get_entries call in front_category/index that's doing it but no matter what I send as where it still messes up

[2012-07-21 19:33] jHoldroyd commented on #15
I take that back, there was an almost identical query in the model to get the total number of products, updated that too and everything should be working as intended again.

[2012-07-21 19:33] #15 closed, assigned to nobody

[2012-07-21 19:40] jHoldroyd commented on #15
I should also mention that while I was changing things I made it multilevel compatible - whereas before it would check if it was a top-level category (ie. parent of 0), it now checks if it has children in general

[2012-07-21 21:09] wturrell commented on #15
Thanks, all working now.

[2012-07-22 21:59] jzmwebdevelopment opened #17 "Payment Gateway's"
Adding to more Payment Gateways:

Bank Transfer

Account Name:

Account Number:

Cheque/Think Americans call it money order?

Account Name:
Post Address:

[2012-07-22 22:37] jHoldroyd commented on #17
I've assigned this one to Chris but i'm not sure where it'll come in our current list of priorities or when he'll have a chance to work on it but we'll discuss it tomorrow and update you.

[2012-07-22 22:39] jzmwebdevelopment commented on #17
Thanks Guys,

If this could get done that would be great I had a look but good not
work out where the data was being fed from.

I have a use for this if it can be done.

[2012-07-22 23:13] jHoldroyd commented on #17
It comes from three places if I remember correctly (that's Chris' area) - there's a class under libraries for each gateway as well as an entry im the gateway language file. You'll also need to add a view containing the required fields that's shown during checkout.

Once you have those you can go into the admin area for gateways and it'll be shown under install new gateway. You should then be able

[2012-07-24 04:43] james182 opened #18 "FireSALE Front-end"
How is the front-end navigation supposed to work, to access the store front ?

my process: PyroCMS > design > navigation > add link > store

the link is then firesale_search, correct?

Result: Page Missing

[2012-07-26 19:13] jHoldroyd commented on #18
We're taking care of this very soon, but the best way to add search for instance to the menu is if you add a URI instead of a module, so you just need to put in search and it'll be there. At the moment though the search page is blank without terms and is what we intend to address over the weekend as well as the default views which have been missing until now.

[2012-07-29 22:23] jHoldroyd opened #19 "Increment version"
Blank issue to close out Milestone.

[2012-07-29 22:25] #19 closed, assigned to nobody

[2012-07-29 23:41] james182 opened #20 "Adding Product Error"
Can't add product

A Database Error Occurred

Error Number: 1048

Column 'row_id' cannot be null

INSERT INTO `default_firesale_products_firesale_categories` (`row_id`, `firesale_products_id`, `firesale_categories_id`) VALUES (NULL, '18', '2')

Filename: /Applications/MAMP/htdocs/PyroCMS-Professional-v2.1.2/addons/default/modules/firesale/models/products_m.php

Line Number: 240

[2012-07-30 06:35] jHoldroyd commented on #20
Taken care of, sorry about that.

[2012-07-30 06:35] #20 closed, assigned to nobody

[2012-07-30 09:22] james182 opened #21 "link path issue"
My i suggest that in order to prevent linking issues you replace the '/' with {{ url:site }} instead.

Example:

Replace
     /category/{{ slug }}
With
    {{ url:site }}category/{{ slug }}

[2012-07-30 09:55] ChristianGiupponi opened #22 "New installation issue"
I've just downloaded a new copy of the pugin but when try to install the core I receive this error:

An Error Was Encountered

invalid_fieldtype [add_field]

[2012-07-30 10:12] ChristianGiupponi opened #23 "Problem in Products page with categories"
hi,
when i add a new product an  I choose a single category ( move the category name from left to right ) and then i try to save it without complete all the information (for example the description) in the category field i have in both the column all the categories.

Example:

http://postimage.org/image/afwd3cfqp/

[2012-07-30 12:07] from2day commented on #22
During install there is fieldtype "multiple" on line 173. Should be "relationship".

File: details.php

[2012-07-30 12:29] from2day opened #24 "Manage categories"
During category edit, there is the same form of adding category. After pressing "Add category" and selecting "renewed" category error pops out:
Error: The server is not responding correctly, please try again later.

[2012-07-30 12:46] ChristianGiupponi commented on #24
Same issue, and there is no "Delete button"

[2012-07-30 13:41] jHoldroyd commented on #24
I'm not sure if you're trying to delete/remove category 1, for a number of reasons we disabled this but if that's not the case it's something I will look into for you soon.

[2012-07-30 13:42] jHoldroyd commented on #22
That's not correct, it is using a multiple-relationship field rather than relationship (one-to-one) we're using a one-to-many field since products can be in multiple categories.

[2012-07-30 17:47] jHoldroyd opened #25 "Update Dashboard Items"
Create final dashboard items with correct information and layouts.

[2012-07-30 17:48] jHoldroyd opened #26 "Finish and Style Default Views"

[2012-07-30 17:48] jHoldroyd opened #27 "Add and Test All Available Gateways"

[2012-07-30 17:49] jHoldroyd opened #28 "Increment Version"
Token Issue, final to be done for version 0.9.9

[2012-07-30 17:50] jHoldroyd opened #29 "Complete Documentation of Code"

[2012-07-30 18:58] jHoldroyd commented on #23
I think this is a deeper issue with the multiple field type but I've managed to write a little piece of JS that will take care of the display problem. It doesn't save/store all values it just doesn't show the ones you selected however it does know which ones you chose.

[2012-07-30 18:58] #23 closed, assigned to nobody

[2012-07-30 19:31] jHoldroyd commented on #24
Pafbone could you please post the exact data you're using in your category fields so I can test it? Currently I'm having trouble replicating that error.

Christian I've just pushed a fix that should show the right buttons in each context (eg edit/delete wern't showing after a submit with failed validation, etc.) That should all be fixed but I'd like to get to the root cause of the ajax error befor

[2012-07-31 00:53] james182 opened #30 "Can't Delete Category"
i can't delete categories:

The Title field must be unique. The Slug field must be unique.

[2012-07-31 01:42] james182 opened #31 "Can't Delete Order"
I can't delete an order with the inline delete button the bottom one does work.

[2012-07-31 06:26] #30 closed, assigned to nobody

[2012-07-31 06:37] #31 closed, assigned to nobody

[2012-07-31 08:02] from2day commented on #22
Might be, but after changing type from 'multiple', installation went well.

[2012-07-31 08:10] jHoldroyd commented on #22
You're missing the Multiple Relationship field type, which can be gotten from here - https://github.com/parse19/PyroStreams-Multiple-Relationships

[2012-07-31 08:30] ChristianGiupponi commented on #22
Maybe you should write it on the readme file because if users use a community version it doesn't know that he need this module :)
By the way on the Pro version of PyroCMS the installation works fine!

[2012-07-31 08:45] jHoldroyd commented on #22
We've been using the pro-version so I had no idea it wasn't included with community, this will be reflected in a README change later today.

[2012-07-31 09:06] from2day commented on #22
The note :)
http://parse19.com/pyrostreams/docs/field-types/multiple-relationships

I am using community version with PyroStreams module. With added multiple field it works fine.

[2012-07-31 11:28] from2day commented on #24
After "multiple" field installation and fresh latest FireSALE version, bug doesn't appear. I guess that was because of my field-hack.

[2012-07-31 11:53] from2day opened #32 "Products pagination"
After fresh module installation, there are 27 pages shown in "Manage products" page.

[2012-07-31 12:09] ChristianGiupponi opened #34 "Filter products in Admin"
When I try to filter products by category I run into a SQL error:

Error Number: 1054

Unknown column 'category' in 'where clause'

SELECT `default_firesale_products`.\* FROM `default_firesale_products` WHERE (category=3) ORDER BY `default_firesale_products`.`id` DESC LIMIT 30

Filename: /Applications/MAMP/htdocs/PyroCMS_PRO/modules/streams_core/models/row_m.php

Line Number: 505

[2012-07-31 13:40] yaadspace opened #35 "Error messages when I click on Orders and Gateways -Fresh installation"
1. When click on Orders, i get the error:
   An Error Was Encountered
   invalid_stream [get_stream]
2. When I click on gateways, I get an error:
   A Database Error Occurred
   Error Number: 1146

Table 'yawdspac_biblesociety.default_firesale_gateways' doesn't exist

SELECT \* FROM (`default_firesale_gateways`)

Filename: /home1/yawdspac/public_html/yaadspace2/bible/addons/default/modules/firesal

[2012-07-31 14:52] ChristianGiupponi commented on #35
Are you using the PyroCMS Community version? Try to install this module: https://github.com/parse19/PyroStreams-Multiple-Relationships
This shoul fix the first error

[2012-07-31 15:45] yaadspace commented on #35
I am using the community Version and I have the latest version of pyroStreams installed.

[2012-07-31 18:02] jHoldroyd commented on #24
Just merged a new readme to cover this requirement, thanks for reporting it.

[2012-07-31 18:02] #24 closed, assigned to nobody

[2012-07-31 18:14] jHoldroyd commented on #32
That should be fixed now, thanks.

[2012-07-31 18:14] #32 closed, assigned to nobody

[2012-07-31 19:52] from2day commented on #35
yaadspace, "Multiple Relationships" is installed as additional field type.

[2012-07-31 20:44] jHoldroyd commented on #34
Working on this at the moment but it's not an easy one with the Multiple field type being a little buggy, might have to go back to the drawing board and rewrite the query - dropping get_entries for the admin dashboard.

[2012-07-31 20:46] jHoldroyd commented on #35
It doesn't come with the Community version by standard, but you can download it from the link above. The failed install caused the mysql errors, closing this for now.

[2012-07-31 20:46] #35 closed, assigned to nobody

[2012-07-31 20:46] #22 closed, assigned to nobody

[2012-07-31 20:47] jHoldroyd commented on #21
Thanks for the suggestion, I've put it in for version 1.0.0

[2012-08-01 00:55] james182 opened #36 "Can't Create Order from admin"
I tried to create an order from the admin and i get this.

---

A PHP Error was encountered

Severity: Notice

Message: Trying to get property of non-object

Filename: libraries/Fields.php

Line Number: 144

---

A PHP Error was encountered

Severity: Notice

Message: Trying to get property of non-object

Filename: libraries/Fields.php

Line Number: 390

---

A PHP Error was encountered

Severity:

[2012-08-01 01:02] james182 opened #37 "Front-End Payment bug"
When clicking the Submit & Pay button you get to this URI "cart/payment" and you get this error:

---

A PHP Error was encountered

Severity: Warning

Message: str_word_count() expects at least 1 parameter, 0 given

Filename: plugins/helper.php

Line Number: 206

---

[2012-08-01 06:48] jHoldroyd commented on #37
That's due to the address changes made last night, I'll update the theme later today but for now you can replace the payment.php, payment_complete.php and addresses.php files in the theme with those from the default views which are updated to match the new field.

[2012-08-01 18:56] MarceauKa opened #40 "An other installation issue"
Hi !

I've got a problem with the 0.9.7 version of FireSALE on a fresh install.

This is the error that I've got :

"An Error Was Encountered

invalid_fieldtype [add_field]"

I've tried on the Community version 2.1.2 with "Multiple Relationship" and the Community version 2.1.2 with "PyroStreams 2.2-dev".

What's going on ?

[2012-08-01 23:33] james182 opened #41 "Front-end Products"
the products don't show up on the front-end now.

[2012-08-01 23:35] james182 opened #42 "Editing products"
i can't edit products now since update, "admin/firesale/products/edit/5"

A Database Error Occurred

Error Number: 1366

Incorrect integer value: '' for column 'firesale_categories_id' at row 1

INSERT INTO `default_firesale_products_firesale_categories` (`row_id`, `firesale_products_id`, `firesale_categories_id`) VALUES ('5', '18', '')

Filename: /Applications/MAMP/htdocs/PyroCMS-Professional-v2.

[2012-08-02 08:08] jHoldroyd commented on #42
Should be fixed now

[2012-08-02 08:08] #42 closed, assigned to nobody

[2012-08-02 13:04] from2day opened #43 "Permissions"
It would be nice to separate permissions: store configuration from administration.

Actually permissions for each FireSALE menu items would be great.

[2012-08-02 13:15] chrisnharvey commented on #43
I am currently working on having permissions for each FireSALE menu items as well as permissions for some of the functions of the menu items.

An example would be if you wanted to allow a client could login and edit their payment gateway details, but not install/uninstall or disable a gateway then they could do so.

Same goes for orders. You could allow some users to login and view orders and mark

[2012-08-02 13:16] chrisnharvey commented on #27
Added all gateways, still need to test that they all work.

[2012-08-02 13:20] chrisnharvey commented on #17
The data for the gateways comes from the CI-Merchant driver (each gateway has its own class in libraries/payments) and on the frontend there is a view for each gateway (with the same name as the driver class).

Will add a bank transfer gateway when I get a chance.

[2012-08-02 14:55] chrisnharvey commented on #40
Hi,

Where did you add your multiple relationship field?
- Chris

[2012-08-03 18:15] jHoldroyd commented on #41
We need a little more information before even trying to fix this one

[2012-08-03 18:15] #37 closed, assigned to nobody

[2012-08-03 18:32] jHoldroyd commented on #36
Should be fixed now

[2012-08-03 18:32] #36 closed, assigned to nobody

[2012-08-03 19:06] jHoldroyd commented on #34
Should finally be fixed and also extended the functionality quite a bit to allow for requests such as stock_status and even price if needed, just use the url format of:

/admin/firesale/products/FIELD NAME/VALUE

And it should work, the only exception is category which has to be handled differently to the rest but still uses the same format.

[2012-08-03 19:06] #34 closed, assigned to nobody

[2012-08-04 15:56] ChristianGiupponi opened #44 "Can i start with an italian translation?"
What do you think? Cai i start or is better wait some time?

[2012-08-04 19:41] jHoldroyd commented on #44
That would be great if you could, I don't see too much changing in the language files before 1.0, just note that anything prefixed in the language file with "[PH]" is a placeholder - I'll try and get those cleaned up before the end of the weekend for you.

[2012-08-04 20:02] ChristianGiupponi commented on #44
Ok, no problem for the placeholder, i Will start as soon as i can!

-- Inviato dal mio Galaxy Nexus

jHoldroyd reply@reply.github.com ha scritto:

[2012-08-04 20:25] #44 closed, assigned to nobody

[2012-08-04 20:26] ChristianGiupponi opened #45 "Duplicate key in language file"
There are two keys that have the same name.
Line **23** and **36** are the same:

**$lang['firesale:shortcuts:cat_create']**

[2012-08-04 20:30] ChristianGiupponi opened #46 "Another problem with categories"
It seems that the cateogry problem has not been fixed because if i click on a category it doesn't show the "Edit" or "Delete" button but it shows the "Add new category"

[2012-08-04 20:44] ChristianGiupponi opened #47 "Manual order issue"
when i try do add an order i have this SQL error:

Errore del database

Error Number: 1364

Field 'shipping' doesn't have a default value

INSERT INTO `default_firesale_orders` (`status`, `created`, `created_by`, `ordering_count`) VALUES ('1', '2012-08-04 22:43:53', '1', 1)

Filename: /Applications/MAMP/htdocs/PyroCMS_PRO/modules/streams_core/models/row_m.php

Line Number: 1300

[2012-08-04 21:10] ChristianGiupponi opened #48 "Missing key in Language file"
No all the field are in the language file, for example some strings of dashbord are written in the view and not in the language file

[2012-08-04 21:55] jHoldroyd commented on #46
Can I just ask what are the details of the category that is causing the problem? Might just be a JS issue with some of the details of a particular category.

[2012-08-04 22:00] #45 closed, assigned to nobody

[2012-08-04 22:01] jHoldroyd commented on #48
I'm going through at the moment trying to clean up any of these issues, a number of our still in-development areas are like this but I'll make sure this is rectified asap.

[2012-08-05 10:28] jHoldroyd commented on #48
That should be everything done for the admin side, there are however a number of JS entries that still need taken care of which I'll be sorting a little later

[2012-08-05 10:28] jHoldroyd commented on #47
Should be taken care of now

[2012-08-05 10:28] #47 closed, assigned to nobody

[2012-08-05 10:28] #18 closed, assigned to nobody

[2012-08-07 07:07] from2day opened #50 "Product slug"
Product slug does not strip anything, it only mirrors the title field.

In addition PyroCMS blog module has full implementation for Unicode characters, I suggest to follow that.

I am using Lithuanian language, additional char conversion must be e.g. š -> s, ę -> e ...

[2012-08-07 07:15] from2day commented on #46
ChristianGiupponi, does your categories titles have non english characters?

Category items with non English characters ž, ę, ū gives:

Error: The server is not responding correctly, please try again later.

I think data must be encoded during Ajax transfer.

[2012-08-07 09:24] MarceauKa commented on #40
addons -> shared_addons -> field_types -> multiple -> field.multiple.php, [...]

[2012-08-07 10:06] jHoldroyd commented on #50
I think this is more of an issue to do with Streams since we use their slug field_type, however I will look into a fix for this and get back to you soon.

[2012-08-07 10:19] #50 closed, assigned to nobody

[2012-08-07 17:00] ChristianGiupponi commented on #46
no no i use standard character in my test.
I haven't try whit à or è that in italian are frequent! As soos as possibile i will try!

[2012-08-07 17:45] jHoldroyd commented on #46
I'll go through that now and see if I can find a fix, I was sure it was done with the last update but I'll see if I missed something for you. Can I ask, which category is causing the issue or is it all of them (id preferably)?

[2012-08-07 20:48] from2day commented on #46
It intrigues me that not all of them are giving that error.
Category name "Kita" with link
www.my-domain.lt/admin/firesale/categories/ajax_cat_details/15?csrf_hash_name=9387ee8ebbbfab0c0f069b1dda572f17
gives false.

Category is not seen on front side category list.

[2012-08-07 20:55] from2day commented on #46
There is something with category status field in DB. I haven't figured it out why, but some of the entries had status = 0, after manual change to 1 works fine.

[2012-08-07 21:56] jHoldroyd commented on #46
I'm not quite sure what to say, I'm testing everything I can think of and even the use of as many special characters I can find in the title and cannot replicate any of the above issues with the categories. I'll keep going but without any errors or line numbers to look at I don't know what to tell you guys.

Here's a screenshot of the latest version with special characters etc. http://d.pr/i/Tts7

[2012-08-12 22:17] chrisnharvey commented on #43
Just added permissions. Only a select few permissions are in there at the moment, let me know what permissions you would like and I'll enable them. Should also be able to set permissions on a per-module basis for FireSALE.

[2012-08-12 22:17] #43 closed, assigned to chrisnharvey

[2012-08-13 10:13] chrisnharvey opened #51 "Long list of errors on orders page when a user is deleted"
When a user is deleted, the orders page in the backend shows a long list of errors when trying to access the user object.

[2012-08-13 11:15] chrisnharvey opened #52 "Add options to edit the payment redirection page."
We need the option to edit the redirection page between the order confirmation page and the payment gateway.

[2012-08-14 08:35] from2day opened #53 "Products by category pagination"
In products page, after selecting category in "Filter by category", I get a lot of duplicated products.

my-domain.lt/admin/firesale/products/category/1/690

Additional info: I have around 15 categories, but all products are in one category, ID = 1, category name is renamed. All other categories shows 0 products as it should be.

[2012-08-14 08:42] from2day commented on #46
Try setting category status to 0 and you will get the error :)
I don't know when and why it had been changed in some categories.

All characters works well - Great!

For now I think the case is closed.

[2012-08-14 11:58] jHoldroyd commented on #46
That should be taken care of, thanks for the extra info :)

[2012-08-14 11:58] #46 closed, assigned to nobody

[2012-08-14 13:32] jHoldroyd commented on #53
Should be fixed now.

[2012-08-14 13:32] #53 closed, assigned to nobody

[2012-08-15 19:15] #25 closed, assigned to nobody

[2012-08-17 18:49] jHoldroyd opened #54 "Clean up a mistaken commit"
Earlier I accidentally committed a number of changes for a work-in-progress project that breaks the current cart, users are advised to not update their install until this issue has been closed. I'm going to assign it to Chris since it's his area and I want to make sure it's not going to compromise the current cart and buying steps.

Apologies for anyone affected and I would rollback the commit, bu

[2012-08-23 02:29] yllumi commented on #40
I think it's about read permission to those files.

[2012-08-23 21:21] chrisnharvey commented on #54
Didn't realize that this was an issue. I fixed this earlier. Closing.

[2012-08-23 21:21] #54 closed, assigned to chrisnharvey

[2012-08-24 00:42] james182 opened #55 "Missing Field 'children'"
Got the latest version of firesale

A Database Error Occurred

Error Number: 1054

Unknown column 'children' in 'order clause'

SELECT `id`, `title`, `slug` FROM (`default_firesale_categories`) WHERE `status` = '1' AND `parent` = 0 OR `status` = '1' AND `parent` IS NULL ORDER BY `children` desc LIMIT 6

Filename: /Applications/MAMP/htdocs/PyroCMS-Professional-v2.1.2/addons/default/modules/firesale

[2012-08-24 00:50] james182 opened #56 "broken checkout link"
when i click go to checkout URL http://localhost/PyroCMS-Professional-v2.1.2/firesale/cart/paypal

the page is blank

[2012-08-24 08:01] jHoldroyd commented on #55
That's just the theme being outdated and not up to date with the latest changes. It's not a core problem so I'm closing the issue, however I will try and get the theme updated on DB for you a little later.

Thanks for the reminder though

[2012-08-24 08:01] #55 closed, assigned to nobody

[2012-08-24 08:05] jHoldroyd commented on #56
When did you last update the install? I know there was an issue with the mistaken push adding a number of unintended changes for a current project that caused a number of issues with the checkout process.

[2012-08-25 19:19] #56 closed, assigned to chrisnharvey

[2012-08-25 19:30] chrisnharvey opened #57 "Make "mass" buttons work on gateways admin"
Make the buttons that can mass enable, disable and uninstall buttons work on the gateways admin.

[2012-08-25 19:39] chrisnharvey commented on #40
Are you still having this issue?

[2012-08-25 20:00] chrisnharvey opened #58 "Only install "core" gateways on module install"
When FireSALE is installed, all gateways in the gateways directory are installed (regardless of whether there is any info in the language file)

[2012-08-25 20:23] #57 closed, assigned to chrisnharvey

[2012-08-25 20:41] #58 closed, assigned to chrisnharvey

[2012-08-26 01:57] yllumi commented on #40
I think it is not a problem to close the issue.

[2012-08-26 11:02] jHoldroyd commented on #40
I'll close it due to a lack of response, if permissions are changed and you still experience the issue please re-open this with more information.

[2012-08-26 11:02] #40 closed, assigned to nobody

[2012-08-26 11:03] jHoldroyd commented on #51
Should be fixed now.

[2012-08-26 17:44] #52 closed, assigned to chrisnharvey

[2012-08-26 19:01] chrisnharvey commented on #48
I've made several additions to the language file as of commit 017db5b and 7037f90

[2012-08-28 15:37] ChristianGiupponi commented on #48
I will look as soon as possibile to translate it!

[2012-08-29 05:40] from2day commented on #54
How should add to cart work?
It still doesn't add product to the cart.

[2012-08-29 09:03] chrisnharvey opened #59 "Install issue. Unable to load general helper"
On install, the module fails to load the general helper.

[2012-08-29 14:54] from2day opened #60 "Added Lithuanian language"
I've translated to Lithuanian language in forked repository:

https://github.com/pafbone/FireSALE.git

[2012-08-29 19:27] chrisnharvey commented on #60
You rock! We'll be sure to add you to the contributors section and some free premium modules when we launch ;)

It would be great if you could translate the firesale_shipping and firesale_search modules too.

Thanks again

[2012-08-29 19:35] #59 closed, assigned to chrisnharvey

[2012-08-29 20:08] chrisnharvey opened #61 "Upgrade to the latest version of ci-merchant"
Our version of ci-merchant is a bit out of date now. Updating to the latest version is something that I'm working on, but as ci-merchant now uses language files for gateway names, field names etc then this isn't going to be an easy migration because I wrote the gateways library/interface so gateways can be "plug and play" and it pulls out the required settings automatically.

It wouldn't be the fa

[2012-08-29 20:39] jHoldroyd opened #62 "Changing product slug loses images"
Given that we track the product images by using the same slug in the file folders as we do the product when the product is renamed or the slug is changed the images are no longer found.

I think the folder needs to be renamed as do the other products with the same slug/product code so all of them are tracked correctly and they all keep the correct images rather than just the one.

[2012-08-29 20:40] jHoldroyd opened #63 "Address not saved when created in admin"
Sometimes when an admin creates an order for a user the address created is either not saved or not assigned to the correct user (the one the order is for as opposed to the current admin). I made a number of improvments in this area but may not have totally covered it.

[2012-08-29 20:41] jHoldroyd opened #64 "Adding a product to order doesn't display image"
When a product is added via ajax to an order it doesn't correctly display an image for products that have one, just shows "na"

[2012-08-30 14:01] from2day opened #67 "Doesn't update cart"
While trying to update quantity of item in cart, there nothing happens.

[2012-08-30 14:05] from2day opened #68 "Doesn't add item to cart with unicode chars in title"
Doesn't work: ąčęėįšųūž.

[2012-08-30 14:07] chrisnharvey commented on #68
Apologies for the issue you're having. I'll look into this ASAP.

[2012-08-30 14:09] chrisnharvey commented on #67
The default module views are not quite finished. I'm assuming this is the problem but I will look into this and get back to you with updates.

[2012-08-30 14:36] from2day opened #69 "Breadcrumb Home = Navigation title"
It would be nice to have ability to change the starting point of breadcrumb.

It could be
- a language file item,
- or as view partial, that could be overridden
- or pointed to navigation item title.

Now it is defined in controller.

[2012-08-30 15:14] from2day opened #70 "Can't update product: "required category field" failed"
I am using the latest FireSale.
I have many categories. For each product only one is selected. While updating product gives error.

[2012-09-03 18:46] jHoldroyd commented on #68
Since Chris doesn't seem to have had a chance to look into this yet for you could you please let me know the url that you are using to insert the product to the cart? Either inspect the element of the button/link it's using or trace it with a browser plugin. It should be something like /cart/insert/ID/COUNT

Given that we use the ID to insert a product the name of it shouldn't matter, I just wante

[2012-09-03 18:47] jHoldroyd commented on #69
We'll look into this, possibly for 1.0 but more likely for 1.1 - having said that I will make sure everything is in language files because I have a feeling Home is still hard-coded in there.

[2012-09-03 20:47] from2day commented on #68
"/cart/insert/91/1"
URL seems correct always. (in style: cart/insert/ID/COUNT )

I have checked many problematic links, all of them was with unicode chars. I just didn't get time to debug deeper for ajax response.

[2012-09-04 07:16] chrisnharvey commented on #68
Looking into this now. Apologies for the delay.

[2012-09-04 07:34] chrisnharvey commented on #68
Just done some debugging and it seems that this might be an issue with streams. I could be wrong but the data that comes out of streams when we retrieve the product is malformed.

For example:
ąčęėįšųūž came out as Ä…ÄÄ™Ä—Ä¯Å¡Å³Å«Å¾

I will keep looking into this though and keep you updated.

[2012-09-04 07:46] #60 closed, assigned to nobody

[2012-09-04 08:49] chrisnharvey opened #71 "Add the ability to add custom fields using streams"
If we have the ability to add custom fields, this will increase the flexibility of FireSALE and allow you to customize the products to suite your needs.

[2012-09-04 08:56] chrisnharvey opened #72 "Final style changes to match Pyro's backend styling"

[2012-09-04 08:58] chrisnharvey opened #73 "Multiple currencies"
The ability to utilise a number of different currencies for products, which will be automatically generated based on the default price and converted using a cached version of the open exchange rates api (written as a basic library so if you want to use another service you can do so).

You will also be able to select which currencies you'd like to enable and to lock/update the prices manually, with

[2012-09-04 10:09] #72 closed, assigned to chrisnharvey

[2012-09-04 15:02] from2day opened #74 "Prevent from quick edit categories"
When multiple categories are assigned to product, making quick edit, saves only one category.

[2012-09-04 15:05] from2day commented on #70
< input type="hidden" name="category" id="category" value="category_16,category_13" >

Is set in "admin/firesale/products/edit/23"

[2012-09-04 15:07] from2day commented on #70
When no category is in "selected options" gives error:

Error Number: 1366

Incorrect integer value: '' for column 'firesale_categories_id' at row 1

INSERT INTO `default_firesale_products_firesale_categories` (`row_id`, `firesale_products_id`, `firesale_categories_id`) VALUES ('23', '28', '')

Filename: path_to\system\codeigniter\database\DB_driver.php

Line Number: 344

[2012-09-04 16:02] jHoldroyd commented on #74
That's something I'm working on at the moment, the javascript isn't populating the dropdowns correctly but I hope to have that solved some time today.

[2012-09-04 16:22] jHoldroyd commented on #70
Are the IDs in the input the correct ones for what you expect? We've seen a number of issues with multiple with these type of results and while we try and patch around them they are deep-routed problems with the multiple field-type which will be replaced when PyroCMS 2.2 is released.

But again I will try and figure something out until that happens.

[2012-09-04 16:37] jHoldroyd commented on #70
I've just pushed a commit that will stop it trying to save a blank category and should be better at spliting the correct IDs from the strings - still not fixed the underlying issue with it though as I'm having trouble replicating your issue on this system

[2012-09-04 20:01] jHoldroyd commented on #74
That should be that taken care of, if you want to remove a category via quick edit, just change the option to "select a category" and due to the change I made earlier, since it can't find a valid category, it will be removed from that product.

[2012-09-04 20:01] #74 closed, assigned to nobody

[2012-09-04 20:53] from2day commented on #70
Are these ID mentioned in comment above?

[code]

<...>

[code]

[2012-09-05 09:51] jHoldroyd commented on #70
So those are the categories you wish to save and I presume that this still isn't happening for this particular product even after the latest commits? Because the data there looks correct for what we expect to be posted

[2012-09-05 12:45] jHoldroyd commented on #64
Should be taken care of now

[2012-09-05 12:45] #64 closed, assigned to chrisnharvey

[2012-09-05 13:42] from2day commented on #70
Yes, the categories are with correct id's. It seems as if category field is not set somewhere.
I have tried on new installation with the same data. Error remains.

Is there any way of debugging it i could try?

[2012-09-05 13:44] #63 closed, assigned to chrisnharvey

[2012-09-05 16:18] jHoldroyd commented on #70
Inside the products model file on line 324 there is a function called update_categories, firstly check the third variable it is being passed ($categories) and make sure that is the same as the input field you posted above. After that check that it is being split correctly into the array (line 331) and from there you should be able to tell what's happening. You could also go a little further and ch

[2012-09-05 18:50] from2day commented on #70
url "admin/firesale/products/edit/4"
debug:

[code]

Lastly, categories are saved, however error keeps popping up, that category field is required.

[2012-09-05 22:56] jHoldroyd commented on #70
Looks like it's either an issue with the multiple field-type or it's with our handling of the validation it provides, I'll look into either bypassing it or making categories not required until 2.2 is released in a few weeks. I think I've mentioned it before but we'll be doing a number of updates to the core to integrate with the new grid field type and drop support for the outdate multiple stuff w

[2012-09-08 21:31] from2day commented on #68
It's not streams problem.

http://codeigniter.com/forums/viewthread/186579

In front_cart.php on 27 I've set:

[code]

The right way would be to overwrite validation rules of CI cart. Maybe to set it in config files?

[2012-09-08 21:35] from2day commented on #67
Not the views:

[code]

Some times price can be zero, so we need to check item count.

[2012-09-10 08:18] chrisnharvey commented on #68
Many thanks for the info. I will implement this ASAP (hopefully today)

[2012-09-10 08:21] chrisnharvey opened #77 "Ability to add items to a complete order"
If a user uses PayPal to fulfill their order, but do not return to /cart/success afterwards then the user id in session will not be cleared and therefore a user could continue to add items to their cart which will also be added to the closed order.

This NEEDS to be fixed ASAP!

[2012-09-10 08:23] chrisnharvey commented on #67
I thought I'd updated that method a while ago. Obviously not. I wasn't aware that your price was set to zero.

Thanks for the update.

[2012-09-10 08:40] chrisnharvey commented on #77
To elaborate on this issue, it seems that there are no checks for an active order when adding an item to the cart.

EDIT: Ignore that, this will all occur when the checkout button is pressed.

[2012-09-10 09:37] #77 closed, assigned to chrisnharvey

[2012-09-10 10:01] #67 closed, assigned to chrisnharvey

[2012-09-10 10:02] chrisnharvey commented on #68
I think I'll update the RegEx so it respects unicode characters.

[2012-09-10 10:07] chrisnharvey commented on #28
Not sure what this issue/enhancement actually is?.........

[2012-09-10 10:15] chrisnharvey commented on #70
Are you still experiencing this issue @pafbone?

[2012-09-10 10:19] chrisnharvey opened #78 "Convert navigation to backend dropdown"
The amount of items that can be added to the secondary navigation for modules is limited, so we need to change the navigation to Pyro's dropdown in the backend.

This will also allow FireSALE modules to have sub-menu's which would be great for things like discount codes so we could see the "Active" and "Expired" codes.

I probably should've thought of a better example than that ;)

[2012-09-10 13:43] from2day commented on #70
Yes.
Categories are saved, but other fields are not updated.

[2012-09-13 08:20] chrisnharvey opened #79 "Add "partially refunded" option to orders"
Some users may need to partially refund an order and want to note this down in FireSALE for their records.

[2012-09-13 13:40] chrisnharvey commented on #51
Still getting this issue. Reopening.

[2012-09-13 14:07] chrisnharvey opened #80 "Can't delete images from products"
It seems like you can't delete images from products unless you delete them from files... Not very user friendly.

[2012-09-13 14:38] chrisnharvey opened #81 "Sub-modules do not show in permissions"
FireSALE sub-modules do not show up when assigning permissions to a group.

[2012-09-13 16:26] ChristianGiupponi commented on #81
Are you talking about "FireSALE Search (Basic)" and "FireSALE Shipping"?

[2012-09-14 08:11] jHoldroyd commented on #68
If you can get this implemented today that'd be great, it's also causing me a few issues testing other modules before handing out access to people!

[2012-09-14 08:13] chrisnharvey commented on #68
Will do, what issues is it causing?

[2012-09-14 08:14] chrisnharvey commented on #81
Yeah, can you see those? It might just be that the version I'm running for a client project is a bit out of date.

[2012-09-14 08:29] ChristianGiupponi commented on #81
No I can't but I think that the reasion is because the other two modules doesn't have the roles filed in the dateils.php

[2012-09-14 09:14] jHoldroyd commented on #28
Just a token issue to be performed as a final step to complete the 0.9.9 milestone to update details.php

[2012-09-14 13:05] from2day commented on #70
How are things going on with this isue?

[2012-09-14 13:56] chrisnharvey commented on #81
True, but I believe that all modules should show up there regardless (just to give the user access to the entire module).

[2012-09-14 14:51] chrisnharvey opened #83 "Add the ability to autoload models, libraries etc."
Whilst developing modules for FireSALE I noticed that we need to edit the core to load models, libraries and helpers into core views (like the cart view)

So if I had a discount code model and need to access it in the cart view which I overloaded using the theme then I'm either going to have to edit the core of FireSALE or load the model inside the view (which is never a good idea)

I'm working on

[2012-09-14 17:22] jHoldroyd commented on #68
I was working with a few updates to more products while away and this issue was flaring up with the expected products and stopped me testing/updating those. Nothing too important really, but it'd be nice to have it fixed so we can test the whole process with special products.

[2012-09-14 18:03] jHoldroyd commented on #79
This will more than likely be part of the revamp I have planned for the order system for 1.1 or even 1.2. I want to add the ability to track the complete history and change log that we've previously discussed.

[2012-09-14 18:21] jHoldroyd commented on #78
The only issue I have with that is it requires more actions to navigate through the system and we then have to split the modules up to achieve the extra menu items. I do fully agree the number of items we can add may be a little too much and we need a solution, I'm just not sure this will be the best one.

[2012-09-14 23:27] #62 closed, assigned to chrisnharvey

[2012-09-15 00:02] jHoldroyd commented on #70
This should be taken care of, I switched back to using the multiple methods of updating but had to implement a few fixes to the data first and a new temporary function has been added until 2.2

I'll leave this open until you confirm things are working on your end, everything is great here so hopefully we can close this one!

[2012-09-15 00:52] jHoldroyd commented on #80
Moved this to 1.0 since it was a quick fix that seemed necessary.

[2012-09-15 00:52] #80 closed, assigned to jHoldroyd

[2012-09-15 09:27] ChristianGiupponi commented on #81
You're right, that's strange...

[2012-09-15 10:15] from2day commented on #70
Yes, everything works. Thanks.

[2012-09-15 10:15] #70 closed, assigned to nobody

[2012-09-16 19:52] #26 closed, assigned to jHoldroyd

[2012-09-16 21:00] jHoldroyd commented on #29
All models and helpers have been documented, our documentation platform is complete and being added to daily. Closing this now.

[2012-09-16 21:00] #29 closed, assigned to jHoldroyd

[2012-09-16 21:07] #28 closed, assigned to jHoldroyd

[2012-09-17 03:06] james182 opened #84 "Can't install FireSALE"
Fatal error: Cannot use object of type stdClass as array in /Applications/MAMP/htdocs/PyroCMS-Professional-v2.1.3/system/cms/modules/streams_core/models/streams_m.php on line 449

this is a clean install of 2.1.3 and firesale

[2012-09-17 04:32] ChristianGiupponi commented on #84
Try to upgrade pyrocms to 2.1.4

[2012-09-17 12:12] jHoldroyd commented on #84
That was a known issue with 2.1.3 that we discovered a while back and a fix was published in 2.1.4 and as such FireSale cannot be installed correctly on 2.1.2 and 2.1.3 (iirc). As Christian said you will need to update your version of pyro before continuing.

[2012-09-17 12:12] #84 closed, assigned to nobody

[2012-09-17 15:22] chrisnharvey commented on #48
Not sure if this one can be closed yet?

[2012-09-17 15:22] chrisnharvey commented on #41
Any update on this issue @james182?

[2012-09-17 15:24] chrisnharvey commented on #81
I think I know whats going on here. I'll push a fix tonight.

[2012-09-17 16:22] ChristianGiupponi commented on #48
I think you can close for now, I do not find other string to translate but I don't have look at everything!

[2012-09-17 16:39] chrisnharvey commented on #48
No problem, thanks for all your help.

[2012-09-17 16:39] #48 closed, assigned to nobody

[2012-09-17 18:17] #68 closed, assigned to chrisnharvey

[2012-09-17 18:29] chrisnharvey commented on #81
Seems like this one won't fix without editing Pyro's core. The permissions page checks that "is_backend" is set to true, which is is not for our sub-modules, thats what keeps them out of the dropdown menu.

We plan to move our menu to the dropdown in a future minor release, so this one will have to wait until then.

[2012-09-17 18:35] jHoldroyd commented on #21
This should have been closed along with the default views that were added in the last few days, closing now.

[2012-09-17 18:35] #21 closed, assigned to jHoldroyd

[2012-09-17 18:39] jHoldroyd commented on #48
There may be a few leftovers in the js files (but they're just duplicates from the actual UI), having said that the vast majority will be done

[2012-09-17 19:34] jHoldroyd commented on #51
Filed a pull request for the 2.2 develop branch of Pyro to take care of this issue. It's not specifically anything to do with FireSale but is caused by the streams_core user field type and should hopefully be accepted.

It can be viewed here: https://github.com/pyrocms/pyrocms/pull/1862

Closing this now

[2012-09-17 19:34] #51 closed, assigned to jHoldroyd

[2012-09-17 21:15] chadwithuhc opened #86 "Enhancement: Disable Installation if incompatible PyroCMS"
Hey Guys,

I would recommend doing a check on the install if the user has PyroCMS 2.1.4 or higher just so they don't try to install it and get errors. I did this on accident first, then later on realized I wasn't running 2.1.4 yet. It'd be nice to show a simple error message.

[2012-09-17 21:18] chrisnharvey commented on #86
This is something that I've had planned to add, as well as checking for the Multiple Field Type and a couple of other checks.

Thanks for suggesting.

[2012-09-18 06:25] jellis opened #87 "Error on save of "FireSALE Dummy" gateway"
Although I realise this is not intended to be edited, when hitting "Save" after entering the editing area, the user is presented with a list of errors stemming from an empty array.

[2012-09-18 06:28] jellis opened #88 "Images not uploading"
Using PyroCMS 2.1.4 Community on OSX Mountain Lion with MAMP (PHP 5.3) and FF15.

Dragging and dropping images into products appears to work.  A tick appears over the image and the upload progress bar gets filled to 100%, however, the image is never uploaded to the file system and stored against the product.

[2012-09-18 06:33] jellis commented on #88
This is intermittently reproducible. Initially, I was hitting "Save".  However, having hit "Save and Exit" actually got the image stored.

[2012-09-18 06:44] jellis opened #89 "Error on completion of payment with Firesale Dummy gateway"
PyroCMS 2.1.4 Community

Using Firesale Dummy gateway and paying with the test credit card produced an error.

"An Error Was Encountered

Unable to locate the model you have specified: search_m"

Reproducible infinite amount of times.

[2012-09-18 07:01] chrisnharvey commented on #87
I'll have to look into this one as I couldn't reproduce it. What errors were showing? Is this when editing a gateway in the admin area?

[2012-09-18 07:06] chrisnharvey commented on #89
I did get an error, but not this one. Have you installed the firesale_search and firesale_shipping modules?

[2012-09-18 07:08] chrisnharvey commented on #88
@jHoldroyd will have to look into this one as it is his area.

[2012-09-18 07:19] parafas commented on #88
I got some issues using another module (pyrocms) and FF15.
there is some kind of caching that is keeping the form with the old
information, not allowing to update with the new one.
but the database has been updated.

On 18 September 2012 16:38, Chris Harvey notifications@github.com wrote:

[2012-09-18 07:39] ChristianGiupponi opened #90 "Category list issue"
I have just created a new category named "Costums" with no product in it.
If I insert manualy the link "category/cosums" in the browser as the docs says the page is show correctly...but if I click on "List" instead "Grid" I receive this error:

{"status":false,"message":"Found no files matching system\/cms\/modules\/pages\/css\/firesale.css","data":""}

and the url change in /category/style/list

[2012-09-18 07:42] jellis commented on #89
Yes, both of these modules are installed.

On 18/09/2012, at 5:06 PM, Chris Harvey notifications@github.com wrote:

[2012-09-18 07:43] jellis commented on #87
Yup, just when I clicked on "Edit" for the Dummy gateway and then saved it (hadn't changed anything).

On 18/09/2012, at 5:01 PM, Chris Harvey notifications@github.com wrote:

[2012-09-18 07:47] ChristianGiupponi opened #91 "Product list in Admin"
When I add a product in the list of producs doesn't show up the image of the product.
Same thing appen in the site when I visit the product page.

See: http://www.diigo.com/item/image/32ya3/ruop
and: http://www.diigo.com/item/image/32ya3/hc7e

for now I will add all the issues I found, tomorrow I have an exam at university so today I can't find a possibile fix, from this weekend I can help much mo

[2012-09-18 08:07] #27 closed, assigned to chrisnharvey

[2012-09-18 08:28] jHoldroyd commented on #88
Can I just ask, have you saved the product before uploading images for it? It shouldn't give you access to the image upload section on product creation until then but something may have gone wrong with that and I just wanted to make sure this wasn't the case before looking further into the upload issues.

If it isn't the case and you think the images should have uploaded, could you please check th

[2012-09-18 08:30] jHoldroyd commented on #90
I'll look into this one for you, more than likely it's just a routes issue or something similar, these were quick little things we added for a client site that we felt were kinda cool features and I'm not sure have been maintained fully throughout the dev process.

[2012-09-18 08:31] jHoldroyd commented on #87
Could you please post the line numbers the errors are being sent from please?

[2012-09-18 12:34] ChristianGiupponi opened #93 "Cart - do not respect the quantity"
In the single product page if iI select 10 in the quantity field and then I go to the cart I can see just 1 product.
If I get back to the product page and I select 10 again the cart update the quantity by 1 again.

[2012-09-18 18:40] jHoldroyd commented on #93
The cart does respect the quantity you select, however if the stock isn't there to cover it, we automatically fall-back to the maximum available. So if you add 10 to the cart and 3 are in stock, the cart will show 3. Having said that we could make it a little easier on the user by showing them a message stating that the quantity is not available with a flash message.

[2012-09-18 19:10] jHoldroyd commented on #90
The route was indeed missing, I did a few other checks and everything seems to be working with it too...which was a nice surprise!

[2012-09-18 19:10] #90 closed, assigned to jHoldroyd

[2012-09-18 19:18] jHoldroyd commented on #89
It was a typo in the search details file that was used for tracking sales after a search was performed, this should be taken care of as well as fixing the other issue mentioned with the email key missing.

[2012-09-18 19:18] #89 closed, assigned to chrisnharvey

[2012-09-18 19:25] jHoldroyd commented on #88
Not able to reproduce this issue myself so if you're able to answer the above questions, and things are going into the database then I'm inclined to agree with @parafas that this is a browser caching issue. To be sure though I'd also ensure that your upload folder permissions are set correctly.

[2012-09-18 19:31] jHoldroyd commented on #87
Was just able to reproduce this and found it was tied to an undefined array for that gateway, taken care of now.

[2012-09-18 19:31] #87 closed, assigned to chrisnharvey

[2012-09-18 19:33] jHoldroyd commented on #91
Can you clear your browser cache and check it again. If it's not any better check the source of the page and post the URL of the image it's trying to load.

[2012-09-18 19:38] ChristianGiupponi commented on #93
Agree for the flash message.
But I have set 100 in stock and if I try to add 10 to the cart it shows me only 1.

[2012-09-18 20:13] jHoldroyd commented on #93
Ah that would appear to be an issue with the views, I'll look into that now.

[2012-09-18 21:04] jHoldroyd commented on #93
This should be taken care of now

[2012-09-18 21:04] #93 closed, assigned to jHoldroyd

[2012-09-18 21:05] jHoldroyd commented on #83
Referenced the wrong issue sorry -.-

[2012-09-19 08:18] chrisnharvey opened #94 "Speed improvements - add caching"
When we have lots of products and categories etc, the frontend is noticeably slow. I need to add caching to help speed things up.

[2012-09-19 08:39] jHoldroyd commented on #41
Closing due to lack of information.

[2012-09-19 08:39] #41 closed, assigned to nobody

[2012-09-19 08:44] ChristianGiupponi commented on #88
Same problem, I will try to delete the cache later today and I will tell you as soon as possible!

[2012-09-19 08:45] jHoldroyd commented on #88
Can I just ask quickly too, what image format are you using and what is the image name?

[2012-09-19 09:14] parafas commented on #88
My workaround was including a timestamp in the redirection url after
editing a register.

On 19 September 2012 18:15, jHoldroyd notifications@github.com wrote:

[2012-09-19 09:34] jHoldroyd commented on #88
I'll add something like that into the core in a moment, but we have just found an issue with certain image formats that I'm currently trying to take care of now - namely gif and bmps. Not terribly common formats for the web, but certainly something that we feel needs fixed.

[2012-09-19 10:25] #88 closed, assigned to jHoldroyd

[2012-09-19 12:59] ChristianGiupponi opened #96 "Enhancement - Product list, add to cart"
When a user is in the products list in the frontend (category/category-slug) can easy add the product to the cart.
The problem is that every time that you click on "Add to basket" the site redirect you to the cart but maybe the user want to continue to shop.

Why don't use ajax to add the product to the cart and allow user to continue their shopping?

What do you think?

[2012-09-19 13:36] chrisnharvey commented on #96
Nice idea, I've assigned this to Jamie so he can look into it.

[2012-09-19 15:02] jHoldroyd commented on #96
This is really for theme developers to decide I think. In our original demo theme we did exactly this and it worked very well (if you check the cart code, we do respond with json to ajax requests) so the code is there, the issue comes down to what should be default to the views and what shouldn't.

I fully agree anyone developing a real website should do this as it adds a huge extra level of conve

[2012-09-19 15:28] ChristianGiupponi commented on #96
Ok, I understan your point of view.
A goodidea could be the possibility to add this features via CP, assume that a person which have no html and css skills want to use this module and want to use the dafault theme of Pyro...Why don't give the possibility to activate the ajax functionalities?

It's just a supposition :)

[2012-09-19 15:40] jHoldroyd commented on #96
Like I said I'll consider it, I think the default views have a long way to go still (they were kinda thrown together) but they are rather limited by the default view we're kinda "forced" to work within. We could build a partially functional shopping cart overview with the DOM and inject it into the header, but it'll disappear whenever you're on a non-firesale page. We'll look at the options availa

[2012-09-19 15:42] ChristianGiupponi commented on #96
ok, I understand :)
If you want you can close this :)

[2012-09-19 15:58] jHoldroyd commented on #96
It's all about feedback to the user, there's possibly a few things we could work with, it's not a huge priority right now, but I will leave this open and return to it at some point in the near future with a compromise that should work.

We're just planning out the next few big updates at the moment for 1.1, 1.2 and 1.3 and trying to slot new features, updates and cleanups, so I'll try and get this

[2012-09-19 21:07] chrisnharvey opened #99 "Product 404 page"
When attempting to view a product that does not exist (i.e. /product/i-dont-exist), I get a JSON string with the following data:

`{"status":false,"message":"Found no files matching system\/cms\/modules\/pages\/css\/firesale.css","data":""}`

[2012-09-19 21:38] jHoldroyd commented on #99
Sorted.

[2012-09-19 21:38] #99 closed, assigned to jHoldroyd

[2012-09-20 04:05] jellis commented on #88
Just confirming that I was uploading jpegs, and the folder permissions were set correctly.  Apologies for the late reply.

Issue has now been rectified?

[2012-09-20 05:20] jellis commented on #99
I've just pulled and updated my codebase, but experience a similar issue when clicking on "List" in the category view.  It also happens when ordering via the drop-down in the category view.

[2012-09-20 05:41] jellis opened #100 "Product image not displaying in cart"
Using FF15 on OSX.

Added product to cart.
Went to cart.
Image shown said "Awaiting images"

Product has multiple images associated with it, confirmed in admin area and viewing product directly.

Using vanilla installation of PyroCMS 2.1.4 Community and vanilla Firesale (current as at time of posting)

No custom themes installed.

[2012-09-20 08:52] jHoldroyd commented on #100
That should be taken care of now, just a small issue with the logic used in our default views.

[2012-09-20 08:52] #100 closed, assigned to nobody

[2012-09-20 08:53] jHoldroyd commented on #88
The issue should be fixed yes and if it still doesn't work it should correctly report as to why.

[2012-09-20 08:54] jHoldroyd commented on #99
The fix for that is in the readme, you must install an extra route that was originally missed which will activate the link you're using now.

[2012-09-20 09:03] chrisnharvey opened #101 "Add order dispatched email"
We need an email to be sent when an order is dispatched.

Not sure who to assign this to.

[2012-09-20 09:04] chrisnharvey opened #102 "Default email templates"
The default email templates could be improved to include the available tags to the user can easily make a custom template.

[2012-09-20 11:09] yllumi commented on #91
maybe christian mean like this:
http://d.pr/i/q3jL
image uploaded successfuly, but it doesn't appear in product list.

then I search and found this line in firesale/views/admin/products/index.php :

[code]

and everything okay after I made changes to this:

[code]

I found same thing in some places. I guess it happened in local only,

[2012-09-20 15:36] jHoldroyd commented on #91
Thanks for that, I think I know what the root cause of the issue was and I'm going to presume you were both running in a sub-directory! It should be fixed now so I'm closing this now

[2012-09-20 15:36] #91 closed, assigned to jHoldroyd

[2012-09-21 14:22] ChristianGiupponi opened #104 "checkout "Previous" problem"
In the checkout page if you use the "next" link to navigate in the pages there is no problem, but if you use the "previous" it has no effect!

[2012-09-21 14:34] AJSturrock opened #105 "Product view stock level"
In the default view for a product "Unlimited (number)" looks a little odd, perhaps "Unlimited (∞)" would be better.

[2012-09-21 14:37] chrisnharvey commented on #105
Nice idea. Will be sorted ASAP.

[2012-09-21 15:04] ChristianGiupponi opened #107 "Problem in the Order page in admin"
I have just tried to order a product in the frontend and I set "**Italy**" as Country and choosed "**My Billing and Shipping addresses are the same.**".
In the CP in the order list in the "**Shipping Details**" the country is set correctly but in the "**Billing Detail**" is set to "**United Kingdom**" instead "**Italy**"

[2012-09-21 15:05] ChristianGiupponi opened #108 "Shipping methods in frontend"
I have added a shipping company in my CP but it doesn't shows up in the shipping methods in the checkout page

[2012-09-21 15:17] #105 closed, assigned to nobody

[2012-09-22 00:21] MarceauKa opened #110 "Routes enhancement"
Hi !

Is it possible to have translation items for routes?
I think it's impossible because of CodeIgniter's engine... Someone may have an idea?

[2012-09-22 00:24] jHoldroyd commented on #110
It's something we've considered and may have an idea or two on how to implement it in a future version.

There's a few ways we can achieve it and may be penciled in for 1.2 as far as I'm aware right now. It'll become slightly less important for certain pages like products that will be changed to /category-slug/product-slug rather than the current product/product-slug route it has now but there are

[2012-09-22 00:32] MarceauKa commented on #110
Yeah, thx for responding so quickly!

Ps: I just saw that your night coding with lot of loud music has bore fruit :p (My english is not too weird?)
Congrats for FireSale-Documentation.

[2012-09-22 00:44] jHoldroyd commented on #110
About the different methods though, the one I think we'll go with is a smaller version of the routes module that's on the Pyro store. Which will let you change/modify your routes how you want them from the admin and it'll write the file for you - automatically installing the current routes for your language. I don't think it'll be terribly difficult and when we do enable that, we'll also install a

[2012-09-22 08:39] ChristianGiupponi opened #113 "Category frontend problem"
I have just update the repo and I cant access to the list of the product, I receive a Lex parse error:

Parse error: syntax error, unexpected $end in /Applications/MAMP/htdocs/PyroPRO_FireSALE/system/cms/libraries/Lex/Parser.php(725) : eval()'d code on line 19

You have a syntax error in your Lex tags. The snippet of text that contains the error has been output below:
if ("4" == null):
else: {{ ti

[2012-09-22 08:45] ChristianGiupponi commented on #113
fixed here: https://github.com/firesale/FireSale/pull/114

[2012-09-22 08:45] #113 closed, assigned to nobody

[2012-09-22 12:00] ChristianGiupponi opened #116 "Addresses page - problem with helper function"
When you create a new address there are some fields that are optional like the "Address 2".
If a user do not fill it and go to see the page which list the addresses insterted there are a warning that sais:

`Message: str_word_count() expects at least 1 parameter, 0 given`

[2012-09-22 16:46] ChristianGiupponi opened #119 "Product - and if it is a costume?"
Let's assume that in my store I sell only costumes...how can I handle the size? (small, large etc..)
I don't think that is a good idea insert the same product with a different name...and if the backoffice has a optional field in which I can insert comma separated, the size of the costume?

What do you think?

Same speach for a different colors...

[2012-09-22 17:43] chrisnharvey commented on #119
Hi Christian, we have an attributes module in development that should cater your needs.

[2012-09-22 18:12] jHoldroyd commented on #119
You should have access to it, I gave you access to all of the in-development modules on the organisation yesterday

[2012-09-22 18:12] #119 closed, assigned to nobody

[2012-09-22 18:17] jHoldroyd commented on #116
I'll take a look at that now, probably not a good choice of function and something more suitable can be used I'm sure.

[2012-09-22 18:27] ChristianGiupponi commented on #119
Oops, sorry!
I haven't seen all the modules yet!

[2012-09-22 19:07] #116 closed, assigned to jHoldroyd

[2012-09-22 19:45] jHoldroyd commented on #104
Small JS issue, should be fixed now

[2012-09-22 19:45] #104 closed, assigned to jHoldroyd

[2012-09-22 20:09] jHoldroyd commented on #107
Another JS issue, when you checked the radio it would only update selects. This is now fixed and will also show the form after checked so you can easily verify the address if you wish.

[2012-09-22 20:09] #107 closed, assigned to jHoldroyd

[2012-09-22 20:15] jHoldroyd commented on #108
Can I just ask what settings did you apply to the band you created (min and max weight/price) as well as the products values for size and weight. If it falls outside the allotted boundaries it won't show up as a viable method of shipping, if you don't think this is the case let me know and I'll attempt to replicate the situation you're experiencing.

[2012-09-23 00:42] jHoldroyd commented on #101
Event has now been added, as well as the template

[2012-09-23 00:42] #101 closed, assigned to nobody

[2012-09-23 14:47] jHoldroyd commented on #102
Should be better now, added a lot more information to the templates and everything should work much better with a few tweaks on a production site.

[2012-09-23 14:47] #102 closed, assigned to nobody

[2012-09-23 15:43] jHoldroyd commented on #9
After a few discussions I don't think this is any longer a priority and isn't something we're going to be doing anymore. The system is there to add settings and is intended to be customised by additional modules, recreating the wheel to perform the same purpose seems fruitless and a waste of time to be honest. It would have been nice to consolidate everything but we're integrating into a system an

[2012-09-23 15:43] #9 closed, assigned to nobody

[2012-09-23 16:04] jHoldroyd commented on #108
Moved this to 1.1.0 due to a lack of information and needing to get 1.0.4 released to fix a number of critical bugs

[2012-09-23 17:40] ChristianGiupponi commented on #108
Sorry @jHoldroyd tomorrow I will look at it and I will give you more info!

[2012-09-23 17:53] jHoldroyd commented on #108
It's not a problem, just wanted to let you know it'd been moved to the next version.

[2012-09-24 00:13] yllumi commented on #17
I agree if bank transfer gateway become a priority, because this payment model still become a major in Indonesia and maybe for some other growing country. :D

[2012-09-24 08:34] jHoldroyd commented on #17
We're still looking at our options and I think this will be added in 1.2 when we replace the version of ci-merchant that we're using with the latest one that already has something like this in place.

[2012-09-24 09:50] ChristianGiupponi opened #121 "cart and order warning"
When I add a product to the cart:

A PHP Error was encountered

Severity: Warning

Message: Parameter 1 to Events_Firesale_attributes::page_build() expected to be a reference, value given

Filename: libraries/Events.php

Line Number: 147

Same warning in users/orders/

I think is because of the address2 value that in my case is empty!

[2012-09-24 10:06] ChristianGiupponi opened #122 "Payment list - Suggestion"
In the list of the payment methods why don't mark the active methods with a different color?
In this way is much more easy see which methods are active, maybe jsut use the green color on the name of the active method...

What do you think?

[2012-09-25 07:55] jHoldroyd commented on #121
You might want to read where the error was coming from and think about which module would have been better to post this on :p

It was all down to the events system needing a tiny fix and everything should be working again. You'll need to pull down new copies of SEO and Attributes to have it fixed as this was not a core issue - as the warning will tell you!

[2012-09-25 07:55] #121 closed, assigned to nobody

[2012-09-25 09:19] jHoldroyd commented on #110
At the moment it's looking like the basic routes system (possibly advanced) will be in for v1.1.0 to make installation easier and allow you to control your route options from the control panel. What we're hoping to do from there is add functions to get the recommended redirect URL for front-end pages as well as allow for dynamic information like category slug, product slug, product id, etc.

[2012-09-26 13:02] AJSturrock opened #123 "Can't overload default views - gateways"

[2012-09-26 13:03] chrisnharvey commented on #123
Will be sorted in v1.1, if not before.

[2012-09-27 17:37] #123 closed, assigned to chrisnharvey

[2012-09-27 21:45] jHoldroyd commented on #122
Added in the latest push, closing now

[2012-09-27 21:45] #122 closed, assigned to chrisnharvey

[2012-09-30 22:16] joshuarlowry opened #125 "Failed install and uninstall"
Firesale 1.0.4
PyroCMS Version 2.1.3 Community
### Steps:
- Copied Firesale folder to addons/shared-addons/modules/
- Clicked Install button in Add-ons interface
- Received Error 500
- Returned to Add-ons Interface
- Clicked Uninstall button
- Received Error 500
- Returned to Add-ons Interface
- Clicked Delete button
- Received Error 500
### Logs:

[Sun Sep 30 14:37:21 2012] [error] [client 99.107

[2012-09-30 22:19] joshuarlowry commented on #125
Determined reason we can't uninstall is probably due to failed install.  firesale_products table wasn't created.

[2012-09-30 22:25] joshuarlowry commented on #125
Was able to perform uninstall.

Added code to products_m.php in delete_all_products()

If what was returned from the get is empty, then do nothing because there is nothing to do.

[2012-09-30 23:26] joshuarlowry commented on #125
I looked into the first error:

Cannot use object of type stdClass as array in /var/www/emcycling.com/system/cms/modules/streams_core/models/streams_m.php on line 449

It appears that streams_core does not save the stream to cache correctly if you are storing 'by slug' as it appears Firesale does.

I did a var_dump on $this->streams_cache and all the streams we have are stored by 'id'.  I was able

[2012-10-01 06:22] jHoldroyd commented on #125
Firstly let me say thank you for the effort to try and debug the issue yourself and not just leaving it to us.

However this is the same issue I found a few weeks ago after 2.1.3 was released. We actually submitted a pull request to Pyro to fix this and is included in 2.1.4 onwards, which, if you read the requirements section in the readme, is why we require Pyro version 2.1.4 and above.

[2012-10-02 10:52] chrisnharvey commented on #94
@jHoldroyd has added run-time caches to several sections of the core. Will enhance with some extra caching soon.

[2012-10-02 14:21] #125 closed, assigned to nobody

[2012-10-04 00:15] joshuarlowry opened #126 "Failed Install"
Firesale 1.0.4
Pyrocms 2.1.4

When I try to install I get the following error message:

An Error Was Encountered
invalid_fieldtype [add_field]

Uninstall works fine

Database created two new tables
    firesale_categories
    firesale_products

Not sure where to go.

[2012-10-04 00:26] joshuarlowry commented on #126
Performed a full reinstall on my dev server and tried to install.

Got a cleaner error on the page that just said: "Could not install the module" in a red box.

When trying to go to the module using the control panel I get the following error:

A Database Error Occurred
Error Number: 1146

Table 'emcycling.default_firesale_orders_items' doesn't exist

SELECT SUM(`qty`) AS `count`, SUM(`qty` \* `pr

[2012-10-04 08:09] jHoldroyd commented on #126
You need to install the Multiple field type, as per the installation guidelines in the readme, which I've posted below:

## Installation
1. Clone yourself a copy of the FireSale core
2. Move everything to either your PyroCMS shared_addons or addons/default folder
3. If you are using PyroCMS Community you need to install also the [Multiple Relationship](https://github.com/parse19/PyroStreams-Multip

[2012-10-04 17:53] #86 closed, assigned to chrisnharvey

[2012-10-05 10:06] #126 closed, assigned to nobody

[2012-10-05 10:07] jHoldroyd commented on #110
Just as an update this system is almost complete, still some testing and admin integration to do, but the core system is done and working.

[2012-10-07 08:23] opassley opened #127 "Urls dont work in sub directory"
I thought this problem was fixed but I still have issues because when I have this module installed in a sub directory, all the links and images for products ignore the sub directory and point directly to the base url.

[2012-10-07 12:13] jHoldroyd commented on #127
I've just pushed a fix for this issue and you can now download the master branch version to have this fixed, sorry about this though, we thought it was done in 1.0.4

[2012-10-07 12:13] #127 closed, assigned to nobody

[2012-10-08 14:33] osari opened #128 "Taking product offline or create new product with offline status, causes it not showing correctly in admin"
If I take a product status to 'Draft' from 'Online', or create a new product and set the status to 'Draft', it displays incorrectly in product admin, empty 'Product Code', 'Title', 'Parent Category', 'Stock Level', and 'Current Price'. Links to 'Quick Edit', 'Edit' and 'Delete' do not have the product id at the end of the URL. The data is updated/entered correctly to db.

[2012-10-08 15:19] jHoldroyd commented on #128
This issue was fixed in [this](https://github.com/firesale/FireSale/commit/f48db655f67db107a23334600a00656b88759c66) commit and should be making it into the next 1.0.5 release in the next week or so if not 1.1, for now you can download the latest version from GitHub and it should be taken care of.

Thank you for the report though, forgot about this one still being live.

[2012-10-08 15:19] #128 closed, assigned to nobody

[2012-10-10 18:33] jHoldroyd commented on #108
Closing this issue now, done a lot more retesting of the shipping module and have taken care of the bands. I'll be pushing it soon once it's cleaned up a little more.

[2012-10-10 18:33] #108 closed, assigned to jHoldroyd

[2012-10-11 00:00] joshuarlowry opened #131 "Items fail to appear in cart"
Firesale: 1.0.4
Pyrocms: 2.1.4 Community

I did finally get everything installed.  Now that I am testing things out I realize I can't add things to my cart.  I don't get any errors on screen or in my httpd logs.  I'm not sure what to do.

[2012-10-11 01:33] joshuarlowry commented on #131
Yeah, I had an ' in the title of the product.  That is why it didn't work.  It might be a good idea to validate this at product creation/edit time.

[2012-10-11 07:22] ChristianGiupponi commented on #131
I can confirm the same issue

[2012-10-11 07:26] chrisnharvey commented on #131
I will look into this one today and get back to you with a fix.

Sent from my iPhone

On 11 Oct 2012, at 08:22 AM, Christian Giupponi notifications@github.com
wrote:

I can confirm the same issue

—
Reply to this email directly or view it on
GitHubhttps://github.com/firesale/FireSale/issues/131#issuecomment-9330880.

[2012-10-11 09:40] jHoldroyd commented on #131
This should be taken care of now, products with any title should now be acceptable.

[2012-10-11 09:40] #131 closed, assigned to nobody

[2012-10-11 10:08] ChristianGiupponi commented on #131
Where did you push it? Master or develop? I have just update my repo but it doesn't work

[2012-10-11 11:42] jHoldroyd commented on #131
Sorry I think that's just in 1.1/develop I'll get it into the master branch now too, sorry about that

[2012-10-11 13:16] ChristianGiupponi commented on #131
Great! It works now :)

[2012-10-14 11:46] jHoldroyd commented on #71
Moving this to 1.2 where we can make this much, much easier

[2012-10-16 03:51] joshuarlowry opened #135 "Payment Gateway Pay by Check"
I need to have the ability to allow users to pay by check so I created a new gateway.  What are the allowable merchant responses?  Can they be anything?  I need it to indicate that the user decided to pay with a check and therefore will need to be manually verified.

[code]

[2012-10-16 03:53] joshuarlowry opened #136 "Checkout Total is $0.00"
I'm unable to check out if the total is $0.00.  Some of our members get items for free.  How can I allow them to check out with a $0.00 total so we can track that they are ordering an item?

[2012-10-16 04:25] jHoldroyd commented on #136
This was a change that was somehow pushed out of the master branch but has been re-added for 1.1, however you can add it in yourself by going to controllers/front_cart.php and changing line 329 to:

[code]

Basically checks if there's items in the cart rather than a cost, not quite sure how or why this disappeared but that's what needs changed anyways.

[2012-10-16 04:25] #136 closed, assigned to nobody

[2012-10-16 04:29] jHoldroyd commented on #135
The available status options are:
- failed
- declined
- mismatch
- authorized

These all have corresponding functions in front_cart that will be called accordingly.

[2012-10-17 09:51] jHoldroyd commented on #83
Do we still need this given the changes coming in Pyro 2.3?

[2012-10-17 13:14] ChristianGiupponi opened #137 "Error message with categories"
Hi,
there is a problem with the categories.
If you try to access via URL to a category that doesn't exists the system shows this error:

{"status":false,"message":"Found no files matching system\/cms\/modules\/pages\/css\/firesale.css","data":""}

It should redirect to a 404 or something else

[2012-10-17 13:18] jHoldroyd commented on #137
Which version is this on, still the 1.0.4 branch?

[2012-10-17 13:19] ChristianGiupponi commented on #137
Yes, 1.0.4.
Edit:
it's a new instalaltion

[2012-10-17 13:21] jHoldroyd commented on #137
Ah, this is already fixed in the 1.1.0 branch, it just requires moving the css/js template settings into the index function when a category is valid, opposed to the constructor. You can see what the change here: https://github.com/firesale/FireSale/blob/1.1/develop/firesale/controllers/front_category.php#L141

[2012-10-17 13:21] #137 closed, assigned to nobody

[2012-10-17 13:30] joshuarlowry commented on #135
I think I'm unsure then of what this should be returning.  What I'm trying to set is that the order is something like payment pending.

[2012-10-17 21:11] chrisnharvey commented on #135
Payment pending is something I'm actually working on right now. Will keep you updated with the progress.

[2012-10-17 21:13] chrisnharvey opened #138 "Move a lot of the cart manipulation stuff from front_cart.php to fs_cart.php"
Cart manipulation code, formatting for currency etc should be done in fs_cart.php. So no matter where we add something to cart, it will be formatted correctly.

[2012-10-20 11:22] jHoldroyd commented on #110
This is now done and fully working in the 1.1 branch which should be released in the next few days!

[2012-10-20 11:22] #110 closed, assigned to jHoldroyd

[2012-10-20 11:23] jHoldroyd commented on #73
Well apart from some small testing left to do this is all but complete, closing now as there are little to no issues remaining and they can be handled as additional issues.

[2012-10-20 11:23] #73 closed, assigned to jHoldroyd

[2012-10-20 11:24] jHoldroyd commented on #94
I think that's all of the caching that'll be going into 1.1, if needed we can add more in minor or the next major version, closing.

[2012-10-20 11:24] #94 closed, assigned to chrisnharvey

[2012-10-20 11:26] jHoldroyd commented on #96
I'm going to close this now, we've made another one of our little decisions and we're going to clean up the existing theme we have and release it along with the core, for free. So we'll be moving our default views over to that in a minor version in the next few weeks. We felt this was the best way to demonstrate the power of FireSale and just how dynamic it can be by fitting into a proper theme in

[2012-10-20 11:26] #96 closed, assigned to jHoldroyd

[2012-10-20 11:28] jHoldroyd commented on #61
This should be completed now and there's only one or two small issues left as far as I'm aware and that's just with the views. I'll wait for Chris to make the final push but this is more or less ready for release.

[2012-10-21 09:55] chrisnharvey opened #139 "Why are we using numbers for order statuses?"
Using numbers for order statuses makes adding new ones quite difficult without it looking silly.

We have:
1 : Unpaid
2 : Paid
3 : Dispatched
4 : Processing
5 : Refunded
6 : Cancelled

So if I wanted to add "Pending", it will have to be number 7, which is annoying because it should go after unpaid.

Can we use slugs for the order statuses? "unpaid", "paid", "dispatched" etc. Would make it not only

[2012-10-21 10:46] jHoldroyd commented on #139
Yeah, this is the plan in 1.2 with the big update to orders where we can not only have a default list and full order status updates but it'll have the same type of feature as attributes and even have custom order status' - still some stuff to figure out but it's all being done for 1.2 for sure.

[2012-10-21 10:54] jHoldroyd opened #140 "Move Settings to Language"
Not sure why this wasn't already done, but settings should be part of the language files for translation.

[2012-10-21 18:24] #140 closed, assigned to jHoldroyd

[2012-10-21 18:24] jHoldroyd commented on #140
This was done in the last commit, forgot to tag it. https://github.com/firesale/FireSale/commit/ba73b38a062bd7b10703f57472dfd30faf4d918f

[2012-10-21 22:36] joshuarlowry opened #141 "Order Get Addresses"
In the Get Addresses function when we want to retrieve all of the addresses so the user can pick one that they have used in the past.  Title isn't required in the form, but for it to be retrieved it needs to be.  This is not consistent.

[code]

To?

[code]

[2012-10-22 06:22] jHoldroyd commented on #141
The reason it's like this is because storing an address for later use is an optional thing, a user may have 1 or 2 primary addresses they always use, but may want something shipped to a new address they're not that interested in having saved for reuse and so if they don't opt to save it, they don't see it again. To the system there's no difference, we save the address anyways because we have to, t

[2012-10-22 06:22] #141 closed, assigned to nobody

[2012-10-22 07:50] ChristianGiupponi opened #144 "1.1/dev need help"
Hi,
I never used git and I have no idea how to fork the 1.1dev to translate the files and send pull request, can someone please help me?

[2012-10-22 08:05] ChristianGiupponi opened #145 "1.1/dev installation issue"
I've just donwload the zip from 1.1dev but when I try to install I get:

`An Error Was Encountered
empty_stream_name [add_stream]
`

Logs says:

`ERROR - 2012-10-22 10:03:21 --> empty_stream_name [add_stream]`

[2012-10-22 08:22] chrisnharvey commented on #144
Could you try running the command `git checkout 1.1/develop`

[2012-10-22 08:31] ChristianGiupponi commented on #144
No luck, I'm in the fork folder:

iMac-di-Christian:FireSale christiangiupponi$ git checkout 1.1/develop
error: pathspec '1.1/develop' did not match any file(s) known to git.
iMac-di-Christian:FireSale christiangiupponi$

[2012-10-22 08:33] ChristianGiupponi commented on #144
I have found on google and this works, maybe...:

iMac-di-Christian:FireSale christiangiupponi$ git checkout origin/dev/1.1
HEAD is now at 69486ac... Added base of edit page
iMac-di-Christian:FireSale christiangiupponi$

EDIT:

ok I have donwloaded the branch, I still need to understand how to pull the local change to my online branch:

iMac-di-Christian:FireSale christiangiupponi$ git clone -b 1.

[2012-10-22 08:52] #144 closed, assigned to nobody

[2012-10-22 12:11] ChristianGiupponi commented on #145
This problem append only if the langue is not set to english, maybe is just a missing string in the italian language file

[2012-10-22 12:25] ChristianGiupponi opened #148 "1.1 Create new product"
When you create a new product and then you press the "Save" button you will be redirect to the frontend homepage instead the products list

EDIT:

same problem when you edit a product

[2012-10-22 12:31] ChristianGiupponi opened #149 "1.1 products list"
In the products list in admin there is the product name markes as link but it refear to a wrong page, there is no id in the url and so it point to **site/product/** instead **site/product/id**

EDIT:

the same thing appened also in the frontend if you click on the product image the link is wrond, no id in the url

[2012-10-22 12:37] jHoldroyd commented on #148
1.1 Technically requires PyroCMS 2.1.5 that hasn't been released yet, hence why we haven't launched. That's the cause of your issues at the moment

[2012-10-22 12:37] #148 closed, assigned to nobody

[2012-10-22 12:39] ChristianGiupponi commented on #148
ah sorry, I didn't know that!

[2012-10-22 13:37] jHoldroyd commented on #148
No worries, we haven't put it up anywhere yet and that's the main reason we haven't launched 1.1 yet.

[2012-10-22 16:35] ChristianGiupponi commented on #148
With 2.1.5 do you mean the current 2.1/Develop? Where can I download it to test the module?

[2012-10-22 17:13] jHoldroyd commented on #148
Yeah the current development version should be ok to use, we're testing on it. It's just a couple changes in the streams_core so you can use 2.1.4 with that and it'll work, we use it on our site and at work - fixes a number of bugs and contains a few key changes to streams to allow us to fully validate streams properly

[2012-10-22 18:19] #149 closed, assigned to nobody

[2012-10-22 18:23] ChristianGiupponi commented on #148
I have downloaded it but it doesn't seems to work, same errors...well I will wait untill the 2.1.5 to test FireSale!

[2012-10-22 18:53] jHoldroyd commented on #148
Same errors on install or product creation?

[2012-10-22 20:36] chrisnharvey commented on #17
Moved this one to 1.2, but will be earlier than that. We need to move the order statuses from numbers to 'slugs', then we can add a 'pending' order status.

[2012-10-22 20:36] chrisnharvey commented on #138
Moving this one to 1.2

[2012-10-23 06:43] jHoldroyd commented on #145
I think was related to the last commit I made, I ran another complete diff of the language files and found 4-5 items missing for a few of them (thank god for automation tools!). This may have caused your problems and if you can give it a try and let me know that'd be great.

[2012-10-23 06:44] ChristianGiupponi commented on #148
On the products list, it doesn't add the product id to the urls

[2012-10-23 06:48] ChristianGiupponi commented on #145
Perfect, now it works!

[2012-10-23 08:11] jHoldroyd commented on #148
If you could check routes, what's in your product route?

[2012-10-23 08:19] jHoldroyd commented on #148
Just seen what the default routes are and I need to sort those out, but if you edit the product route and delete {{ any }} and replace it with the product slug or id it'll update everything and should be fine.

[2012-10-23 12:31] chrisnharvey commented on #61
This is all pretty much done, just need to add the new gateway views and populate the language file with information about the new gateways... Oh the joys.

[2012-10-28 09:36] weejames opened #150 "Adding a 'Firesale' navigation item directs the page to a non-existant route"
Hi,

Using the PyroCMS admin I added a navigation item to the 'Firesale' module.

This added a url to the navigation of http://mysite.com/firesale

That route isn't set up on installation, nor is it listed on your installlation docs.

I'd add a pull request but I'm not sure how you'd want to handle that.  Personally I'd have it redirect to the '/products' route.

[2012-10-28 09:39] weejames commented on #150
Should have said I'm using the develop/1.1 branch - i need the features it has and the site shouldnt be going live til after its finalised.

[2012-10-28 09:57] jHoldroyd commented on #150
I think that menu item is a little misleading and we'll get rid of it soon; having said that we're working on getting products and categories into the navigation section to just link to.

As you're running 1.1 though you can simply point a uri link to /category and that will list all of your products in one place, you can also change the slug for this in the routes section to whatever you want.

N

[2012-10-28 12:50] from2day opened #151 "It should be possible to modify for longer cur_format"
Error Number: 1406

Data too long for column 'cur_format' at row 1

UPDATE `default_firesale_currency` SET `cur_code` = 'LT', `title` = 'Default', `slug` = 'default', `enabled` = '1', `cur_tax` = '21', `cur_format` = '{{ price }} Lt', `cur_format_dec` = ',', `cur_format_sep` = '.', `cur_format_num` = '1', `cur_mod` = '+|', `exch_rate` = '1', `updated` = '2012-10-28 12:49:08' WHERE `id` = '1'

/mod

[2012-10-28 13:05] jHoldroyd commented on #151
The currency format allows for 32 characters which should be more than enough but I'm guessing it's being inserted as HTML entities which would explain the issue you're experiencing. If you check the source code of the page with that error you'll see each curly bracket will be &# 123; or &# 125; which means the string you're inputting is around 34 chars.

[2012-10-28 13:21] hsq commented on #151
In some cases the field length is not changed while updating the module in pyro. Check your field length in your table. That might be your solution...

[2012-10-28 13:24] jHoldroyd commented on #151
I've had to increase the allowed character limit for that field as it's the streams_core or active record that is encoding the entities and not something we have control over. To stop yourself having to update or reinstall FireSale just run this query on your database:

[code]

[2012-10-28 13:24] #151 closed, assigned to nobody

[2012-10-28 13:26] hsq commented on #139
There is one thing which can bite you.. When you want to show a list of statusses, the list will be alphabetical. A slug would be alright, but also use an index. In a multilingual environment, you might want to use codes...
I usually have 2-3 languages.. Dutch, english, french. So it is needed...

[2012-10-28 13:59] jHoldroyd commented on #139
The numbers aren't displayed anywhere and are just the reference the site uses behind the scenes, the only issue I think Chris has with this is that it makes it a little difficult sometimes to know what ID to set where. If they're ever displayed anywhere it's the title and not the value so I'm not sure it's an issue.

I'm quite partial to how it is now for a number of reasons and the main one is t

[2012-10-30 09:42] hsq commented on #35
Just have to open it... I have installed PyroCMS 2.1.4 pro. The field type is existing...
The error when installing the firesale module 1.1:

An Error Was Encountered
invalid_stream [get_stream]

[2012-10-30 19:23] adrienne opened #153 "Consistently getting error on install"
(I've searched the closed issues and mine is not covered.)

Details
- PyroCMS version: 2.1.4 Community
- Multiple Relationships fieldtype is enabled
- FireSale 1.0.4 **OR** 1.1.0

Using either the version of Firesale from GitHub OR the version available at the PyroCMS Addons page, I get the following error on install:

[code]

No streams or database tables are created.

Please help! This is seriou

[2012-10-30 19:27] adrienne commented on #153
Also: I tried purchasing and installing PyroStreams, to see if that would fix the error, and it does NOT. Installed or uninstalled, I still get the same error.

[2012-10-30 20:16] jHoldroyd commented on #153
Chris has just pushed a fix to what we think is causing this. Make sure you can fully uninstall before trying again with the newest version to avoid any conflicts.

[2012-10-30 20:24] adrienne commented on #153
That seems to have gotten it! I will report back if I run into more issues!

[2012-10-30 20:30] chrisnharvey opened #154 "Add "Ideal" gateway"
Due to time constraints, the "Ideal" gateway will be in 1.2 instead of 1.1.

[2012-10-30 21:02] chrisnharvey opened #155 "Translate gateway descriptions"
There are a few new gateways that require translations. See d436c94731

[2012-10-30 21:02] chrisnharvey commented on #61
Mission complete!

[2012-10-30 21:02] #61 closed, assigned to chrisnharvey

[2012-10-30 21:29] chrisnharvey commented on #155
Added a couple of extra gateways. See 97a85f7f79

[2012-10-30 22:39] Dev7 opened #156 "Product Variations"
Great start! Love the modules. I think it has all the basics you would see in a product/cart module. The one thing that is a basic feature that seems to be missing is product variations. LOVE THE MODULES!!!

[2012-10-30 22:52] jHoldroyd commented on #156
Thanks for the comments and it's coming, it's carved in stone to be in 1.2...I tried to get it into 1.1 but we kinda had enough to do and called it off. But it's definitely coming, we toyed with the idea of using our (in development) attributes module for product variations and if you check http://www.shelikesitmini.co.uk/product/chloe that's how we did it for there, but it's not a great solution

[2012-10-30 23:12] Dev7 commented on #156
FAST response. Thanks... Glad to see it is coming in 1.2!

[2012-10-30 23:49] jHoldroyd commented on #156
Yeah we're aiming to have 1.2 ready for Pyro 2.2s release so it should be coming some time in November and most likely available on our 1.2/develop branch sometime in the next few weeks. It has a few precursors that need to be in place first but it shouldn't be too far away.

[2012-10-31 09:55] ChristianGiupponi commented on #155
Done for italian lang: 7d7bc9f310d5e0b0bd481f944ffc088da96a782c

[2012-10-31 10:45] from2day opened #159 "Documentation page error"
When browsers language is defined not EN
    http://www.getfiresale.org/documentation gives - 404.

A PHP Error was encountered
Severity: Warning
Message: file_get_contents(/var/www/vhosts/getfiresale.org/httpdocs/addons/shared_addons/modules/documentation/docs/lt/_data): failed to open stream: No such file or directory
Filename: controllers/front.php
Line Number: 25

[2012-10-31 11:00] jHoldroyd commented on #159
I'll get that sorted as soon as I can, thanks for reporting it. It should default to English if the selected file isn't found, but it seems it's not doing it

[2012-10-31 16:24] chrisnharvey commented on #155
Thanks Christian, appreciate it.

[2012-10-31 19:32] #159 closed, assigned to nobody

[2012-10-31 19:32] #153 closed, assigned to nobody

[2012-11-01 08:35] ChristianGiupponi commented on #145
There is the same problem again. I can't install firesale in italian

[2012-11-01 08:51] ChristianGiupponi commented on #145
This should fix for italian lang: c2e0603884720078d0d757a8379ea31fcb0cd573

[2012-11-01 08:51] #145 closed, assigned to nobody

[2012-11-01 09:14] jHoldroyd commented on #145
I wrote a script a while ago to diff all of the language files at once, if you think it'd be useful to you I don't mind sending it over. You just stick it in the root of the module you're doing, call it with a browser and it'll run through all languages compared to a defined base language and show all missing items from each of them in one page.

I found it really handy a few weeks ago after you h

[2012-11-01 09:20] ChristianGiupponi commented on #145
I'm currently using Mac's DiffMerge tool but your looks much more usefull!
If you can email me it would be great!
My email si: christian.giupponi [at] stilogo [dot] it

[2012-11-01 13:21] ChristianGiupponi opened #161 "Products Index Admin"
If I edit the default currency and I put € instead £ and then I go to the products list I can't see the € symbol correctly, it appears in this way:

http://yfrog.com/9fschermata112456233alle1p

[2012-11-01 13:41] jHoldroyd commented on #161
I'll look into it

[2012-11-01 16:21] chrisnharvey opened #163 "Requirement of ZipArchive"
PyroCMS has @philsturgeon's Unzip library built in which means we don't need to use the ZipArchive class to download and install the multiple field type. If we use the unzip library then we won't have issues with users not having the ZipArchive class installed.

[2012-11-01 18:49] from2day opened #165 "Category slug in sort url"
Maybe it is simple, but i can't get trough:
How ordering of only one category products should be done?

[code]

Gives all sorted products in the shop.

[2012-11-01 18:56] jHoldroyd commented on #165
The core currently doesn't support user customised sorting by only one category, it's a global thing to keep navigation consistent. I don't think it would be that difficult to do to change the cookie to be per-category but it's not something we're looking to add as core functionality as we feel it's good how it is.

[2012-11-01 19:16] from2day commented on #165
Fair answer

[2012-11-01 22:24] #165 closed, assigned to nobody

[2012-11-01 22:37] jHoldroyd commented on #161
Should be taken care of now

[2012-11-01 22:37] #161 closed, assigned to jHoldroyd

[2012-11-01 22:45] jHoldroyd commented on #163
Taken care of now and back to unix encoding...getting sick of that.

[2012-11-01 22:45] #163 closed, assigned to jHoldroyd

[2012-11-01 22:46] #150 closed, assigned to nobody

[2012-11-01 22:50] from2day opened #167 "Checkout when shipping module is disabled."
FireSale v 1.1 gives this error when "Submit & Pay" is pressed. Shipping module is disabled.

[code]

[2012-11-02 13:27] ChristianGiupponi opened #168 "Routes errors"

[2012-11-02 13:27] ChristianGiupponi opened #169 "Routes errors"
There is a problem in the routes tabs: http://www.diigo.com/item/image/32ya3/5x8c

[2012-11-02 13:34] #168 closed, assigned to nobody

[2012-11-02 13:36] ChristianGiupponi commented on #169
Never mind, now it works...

[2012-11-02 13:36] #169 closed, assigned to nobody

[2012-11-02 15:44] jHoldroyd commented on #169
I'm guessing it required a reinstall? I just added that last night and it's not in the upgrade path just yet.

[2012-11-02 16:09] ChristianGiupponi commented on #169
Yes I have reinstalled the module!

-- Inviato dal mio Galaxy Nexus

Jamie Holdroyd notifications@github.com ha scritto:

[2012-11-02 23:04] jHoldroyd commented on #167
I'll look into this, we've never had a problem with it before but I'll see if there's anything we can do

[2012-11-06 17:09] wrximpreza commented on #35
A have the same problem
PyroCMS 2.1.5
Firesale 1.1
https://github.com/parse19/PyroStreams-Multiple-Relationships -  I install

An Error Was Encountered
invalid_stream [get_stream]

Log:
ERROR - 2012-11-06 20:05:19 --> invalid_stream [get_stream]
ERROR - 2012-11-06 20:05:31 --> invalid_stream [get_stream]

[2012-11-07 09:00] ChristianGiupponi commented on #35
Your Control Panel is set in English or another language?

[2012-11-07 09:21] ChristianGiupponi opened #172 "Problem with currency in product list"
I have set my currency in this way:

http://www.diigo.com/item/image/32ya3/7ohe

But when I create a new product I can't see the € symbol but just the £ symbol

[2012-11-07 09:24] ChristianGiupponi commented on #172
Never mind, it was my fault!

[2012-11-07 09:24] #172 closed, assigned to nobody

[2012-11-07 09:28] ChristianGiupponi opened #173 "Product page in admin - do not consider taxes?"
I have tried to create a new product.
First of all I have edited the default currency to set taxes at 21% but when I go to the create product page and I insert the first value and then I press the tab button it doesnt show me the price with the taxes.

http://awesomescreenshot.com/07elka8e8

It report 0.00 is it correct?

[2012-11-07 09:31] wrximpreza commented on #35
I found the problem. Not set a table in the database. They did not set. Here's the problem.
An Error Was Encountered
field_slug_in_use [add_field]

PyroCMS 2.1.5
Firesale 1.1
https://github.com/parse19/PyroStreams-Multiple-Relationships - I install

[2012-11-07 09:36] chrisnharvey commented on #173
This is currently being updated, I'm hoping to have all this finished today.

[2012-11-07 09:39] ChristianGiupponi commented on #173
ah ok, so I will not send the other issue I found untill you finish :)

[2012-11-07 09:49] ChristianGiupponi commented on #35
I think you need to do a full uninstall of all the FireSale's modules and reinstall it.
Maybe sometihing goes wrong during the first installation and try to set the Control Panel language to english to see if everything goes well

[2012-11-07 09:53] wrximpreza commented on #35
Did what you wrote but the error remains
An Error Was Encountered
field_slug_in_use [add_field]

[2012-11-07 10:06] jHoldroyd commented on #35
Did you have a failed install previously to this and did you try to uninstall it correctly first? This issue generally crops up when someone deletes firesale or some database tables but doesn't remove all of the stream references and then tries to reinstall.

If you did go into the database and try to manually remove tables you'll need to delete all references to firesale_\* from default_data_fiel

[2012-11-07 10:07] jHoldroyd commented on #173
Yeah we're currently adding the multiple taxes feature and once Chris has his part done I'll be going through and updating the JavaScript features in the admin to correctly take it into account and this should be working again.

Just out of interest though, what is the other issue?

[2012-11-07 10:54] ChristianGiupponi commented on #173
The other issue was in the frontend in the cart.
In the products list I saw the prices with the taxes included but once I added one of them in the cart, the product(s) appeared without taxed and the set it to 0.00 but with the last update of Chris it seems to be solved.

Unfortunatly I'm not able to wait untill someone finished their work on a module before post issue :P

[2012-11-07 10:57] ChristianGiupponi commented on #173
But I will check it better just when Chris finished!

[2012-11-07 11:03] from2day commented on #167
I have question about shipping module. While there is no forum and not finished documentation I will ask here :)

I've got above error while there was shipping module disabled. I do not need shipping at all. Do I need those ship_to and bill_to fields separately? I understad that checkbox "same address" is for that. I do modify my forms and streams accordingly for my needs but they does not work co

[2012-11-07 14:02] jHoldroyd commented on #167
In 1.1 you can set your products to not require shipping and all it will ask for is billing details and nothing more. It shouldn't be giving you any issues to not have the shipping module installed and is not something we've encountered before, but are looking into as it shouldn't happen.

FireSale is modular as you pointed out but only to a degree, come 1.2 we'll be splitting it up much further t

[2012-11-08 14:02] jHoldroyd commented on #173
Closing this now as it should be fixed.

[2012-11-08 14:02] #173 closed, assigned to nobody

[2012-11-08 15:51] chrisnharvey opened #175 "Add order status filter to orders"
It is very annoying when there are lots of unpaid orders lying there dormant. It would be great if we had an order status filter dropdown in the admin panel.

[2012-11-08 16:36] jHoldroyd commented on #175
I meant to get that in there a few weeks ago, I'll get that in there later

[2012-11-09 08:21] hsq opened #177 "Quick edit gives error and loses category"
master 1.0.5

Creating products and uploading images goes fine. But when I push the button 'quick edit' in the list of products, hit save, I get an internal error...

ajax_quick_edit
/admin/firesale/products
POST
500
Internal Server Error
text/html
jquery.js:8102
Script

A Database Error Occurred
Error Number: 1146
Table 'database.dbname_default_firesale_products_firesale_categories' doesn't exist

[2012-11-09 08:36] hsq opened #178 "tax calculation not correct in admin"
When using the automatic tax calculation in the admin, it goes wrong. Probably somewhere hard coded that it should be 20%.
I changed it here to 21% and the cart gave me wrong results.

Please check for any tax calculations to make it use the tax settings.

url:    /admin/firesale/products/edit/1

[2012-11-09 09:15] ChristianGiupponi commented on #177
I think that this has been fixed in the 1.1 because I'm not able to reproduce your error

[2012-11-09 09:32] jHoldroyd commented on #177
Fixed in both master and 1.1/develop. Thanks for reporting it, weird that it was left in there.

[2012-11-09 09:32] #177 closed, assigned to nobody

[2012-11-09 09:34] jHoldroyd commented on #178
I'll see what we can do to look into this but I don't know if there's much point since 1.1 will be tagged today and the entire tax system will be updated and replaced with something far better.

[2012-11-09 09:35] hsq commented on #178
Ahhh... great... I cannot wait... ;-)

[2012-11-09 09:35] #178 closed, assigned to nobody

[2012-11-09 10:13] boethius opened #179 "Installation [Question]"
Hi

I've used CodeIgniter for a while and I am familiar with routes, but the installation instructions for FireSale are very confusing. I've managed to install FireSale but I am stuck at trying to get products and categories to display.

Do I set up the routes manually in the routes.php, in that case, which one, the one for PyroCMS or the one in the modules? Or do I set up pages with tags, in that

[2012-11-09 10:18] #175 closed, assigned to jHoldroyd

[2012-11-09 10:29] jHoldroyd commented on #179
Apologies for your frustration and as a note the routes file you need to edit is the one found in system/cms/config/routes.php

We'd presumed that most people knew which routes file we meant as if it was the modules routes file we would have done it already. Coming with 1.1 the module requires write access to the correct routes file and will add all of them for you as well as allowing you to confi

[2012-11-09 10:32] jHoldroyd opened #180 "Duplicate Routes Added to File"
Sometimes when updating the routes via the administration panel duplicate items will be added.

[2012-11-09 10:44] #180 closed, assigned to jHoldroyd

[2012-11-09 10:45] jHoldroyd commented on #155
I'd say we've got all that we can get done with this prior to 1.1 and if anyone wants to take care of the missing items, feel free! Closing now.

[2012-11-09 10:45] #155 closed, assigned to nobody

[2012-11-09 10:49] boethius commented on #179
No apologies needed, but thank you very much for your quick and informative reply. If it is all the same to you, I would like to continue this discussion on GitHub so that this information is available to others until the documentation is complete.

I might be misunderstanding a fundamental aspect of CI, but how do I route to an add-on, specifically, what should the correct routes be?

Currently i

[2012-11-09 10:49] jHoldroyd commented on #167
Both myself and Chris have been through this a few times and cannot recreate it, the module has checks in place to ensure that the shipping module is or isn't installed and allows for the process to be done without it. During the whole time testing the checkout process both with and without the module this has never occurred and the only suggestion I have is to try a fresh install of 1.1 and see h

[2012-11-09 10:49] #167 closed, assigned to jHoldroyd

[2012-11-09 10:55] jHoldroyd commented on #179
I'm presuming you're running 1.0.5 from the master branch? If so I'd recommend upgrading to 1.1 and from there you can edit the routes via the administration panel, having said that you could force the category into index to avoid it trying to go to the wrong function like so:

[code]

That way it's guaranteed to go to the correct path as there's only the one function available in the controller t

[2012-11-09 19:43] jHoldroyd opened #182 "Items array empty on checkout"
No items are passed to the checkout page to display correctly.

[2012-11-09 19:45] jHoldroyd opened #183 "Numerous price inconsistencies"
Throughout the buying process and especially after switching currency prices seem to change and become somewhat "random" and can change from page to page.

[2012-11-09 19:50] jHoldroyd opened #184 "Ajax cart insertion returns success even on failure"
The ajax insertion abilities on the cart return a success message even if it is a failure or the user is not logged in when it's required.

[2012-11-09 19:52] jHoldroyd opened #185 "Currency conversion issues"
There's a few issues with currency conversion, sometimes simply changing the currency code but not the price on cart insertion. It also requires correct formatting in certain areas that are still being ignored.

[2012-11-09 20:00] jHoldroyd commented on #182
Slightly bigger issue than previously thought, orders are no longer inserting items into the order_items table

[2012-11-09 20:24] #182 closed, assigned to jHoldroyd

[2012-11-09 21:36] chrisnharvey commented on #183
Got some fixes almost redy to push, been doing some extensive testing.

[2012-11-09 21:41] chrisnharvey opened #186 "Remove delete button for default currency"
The default currency can not be deleted. Perhaps we could remove the delete button for the default currency.

[2012-11-09 22:43] jHoldroyd commented on #183
Nice, I took care of the items issue and the reason it was working locally earlier was because you'd created the rows whereas it didn't do that in details yet. Not a massive issue and it's in there now but it's something to note for any sites already running with taxes in 1.1-dev.

Also, Skype!

[2012-11-09 22:53] #186 closed, assigned to jHoldroyd

[2012-11-10 00:57] #184 closed, assigned to jHoldroyd

[2012-11-10 00:58] jHoldroyd commented on #184
Now correctly responds to ajax requests with a json message and exit rather than attempting to redirect the user...which was frankly useless.

[2012-11-10 12:20] jHoldroyd opened #188 "Check all default views"
Many of the default views need to be checked and updated to reflect the latest tax and currency changes.

[2012-11-10 14:14] jHoldroyd commented on #183
Not sure which one this comes under, but when changing currency with items in the cart the rounding option isn't being applied.

[2012-11-10 17:57] #188 closed, assigned to jHoldroyd

[2012-11-11 00:38] #183 closed, assigned to chrisnharvey

[2012-11-11 00:38] #185 closed, assigned to jHoldroyd

[2012-11-12 10:32] ChristianGiupponi opened #189 "Can't understand difference between Taxes and Currency"
Hi,
FireSale has two different tabs for currency and Taxes but I can't understand why in the currency one the is the taxe percent while in the taxes tab the is a fild text with a number.
What is this for?
I need to set it to the same value on the taxes percent? Can't just use the percent rate?

[2012-11-12 23:26] jHoldroyd commented on #189
The tax rate set in a currency is the default applied to that currency for the available tax rates. Variable tax rates are there to be chosen on a per-product basis as many countries have different rates of tax for different products - eg. food, technology, fuel, etc. all have different rates. But these rates may be different in varying countries so you can set them based on the currency too.

[2012-11-13 16:54] boethius commented on #179
Hi Please mark this as solved. Pulling 1.1 solved the issue. Thanks!

[2012-11-13 19:38] #179 closed, assigned to nobody

[2012-11-15 15:00] chrisnharvey opened #191 "Duplicate error messages on checkout"
Duplicate error messages are displayed when there are errors on the billing details (even "requires shipping" is set to "no")

[2012-11-16 17:20] swilla opened #192 "Settings not created on upgrade"
Upgrade from 1.\* to 1.1 did not create new settings:

firesale_currency
firesale_perpage
firesale_login
image_square

[2012-11-16 17:27] chrisnharvey commented on #192
I'll look into this one for you. Thanks for letting us know about this
issue.

Sent from my iPhone

On 16 Nov 2012, at 05:21 PM, Steve Williamson notifications@github.com
wrote:

Upgrade from 1.\* to 1.1 did not create new settings:

firesale_currency
firesale_perpage
firesale_login
image_square

—
Reply to this email directly or view it on
GitHubhttps://github.com/firesale/FireSale/issues/192.

[2012-11-16 18:22] swilla opened #193 "If slug starts with integer type logic returns ID"
If Slug is: '10-pack-lessons'.

This returns

[code]

ID instead of SLUG

[2012-11-16 18:38] swilla commented on #193
For some reason PHP takes the leading number from the string and adds it. I suggest switching to is_numeric() as I've tested this with a bunch of different number string combos and it seems to work consistently.

[2012-11-16 18:42] chrisnharvey commented on #193
You're right, not too sure why it was not done this way in the first place.
Thanks for pointing this one out. We'll get on it.

Sent from my iPhone

On 16 Nov 2012, at 06:38 PM, Steve Williamson notifications@github.com
wrote:

For some reason PHP takes the leading number from the string and adds it. I
suggest switching to is_numeric as I've tested this with a bunch of
different number string comb

[2012-11-16 18:55] jHoldroyd commented on #192
I haven't had a chance to check but I'm pretty sure those are pre 1.1 settings and should have been added with the 1.\* branch you're using.

[2012-11-16 18:58] jHoldroyd commented on #193
It was originally done like that because is_numeric occasionally gave the exact opposite problem as you're having, it was reading certain slugs as numeric when they weren't. I'll check it over and try to find a better solution.

[2012-11-16 19:39] swilla commented on #193
Maybe this will work:

[code]

My tests all passed.

[2012-11-16 20:51] jHoldroyd commented on #193
Thanks I'll get that in now, run a few tests and hopefully get this one closed :)

[2012-11-17 12:07] #193 closed, assigned to nobody

[2012-11-17 12:09] jHoldroyd commented on #193
That's in for both products and categories since they had the same issue. Thanks for reporting and the suggested fix!

[2012-11-19 03:10] nickrichwi opened #195 "Missing product fields in admin backend"
I seem to have a lot of missing field inputs for products on the admin backend.

I am in the US and ive gone thru every setting and file and it always shows a GBP symbol on the form page.

And the product categories box, I can't click or select any of the categories listed.

[2012-11-19 08:13] from2day opened #196 "In backend product page no category title"
I've fresh firesale install. But after some time of usage categories titles disappears from category Drag&Drop window in product edit page, only ids are shown.

Tried to reinstall, problem appears again. In other places: product list, frontend everything works fine.

[2012-11-19 09:33] jHoldroyd commented on #195
Which version of FireSale are you using? and just as a note the admin will only use your first (default) currency to avoid any conflicts, price changes etc. so if USD isn't currency 1 you may want to change it and see how you get on. As for the other issues we'll look into them for you.

[2012-11-19 09:33] jHoldroyd commented on #196
We've experienced this once before somewhere else, we'll take a look and see what we can do to fix it for you

[2012-11-19 10:25] from2day opened #197 "Pagination links works not correctly"
When using tag {{ pagination.links }} it generates page links:

[code]

that becomes:

[code]

with category title twice, that does not work.
Where pagination can be configured, or is this a bug ? :)

[2012-11-19 13:03] jHoldroyd commented on #197
I'll look into the now, it's most likely an issue with routes that we missed, thanks for letting us know

[2012-11-19 13:05] jHoldroyd commented on #197
Should be sorted now

[2012-11-19 13:06] #197 closed, assigned to nobody

[2012-11-19 15:15] nickrichwi commented on #195
I just upgraded to 1.1.0 from 1.0.4. I had to manually change the default to USD.
I might have figured out the issue with the fields missing, im getting some missing files from the streams core- field_asset - multiple that I need to figure out why, files are there but the url is slightly incorrect.

[2012-11-19 21:16] nickrichwi commented on #195
I have fixed the missing fields  .. due to a bad server config for css and js files not being output thru php.

Only have the price problem now.

[2012-11-19 21:29] jHoldroyd commented on #195
We're still looking into replicating this issue and not had any luck so far. We'll keep digging though and see what we can find

[2012-11-20 00:25] nickrichwi opened #198 "Open Exchange refresh rate in settings"
Is there any availability to have a setting in the admin for changing the refresh time for the Open exchange api call?

[2012-11-20 01:00] jHoldroyd commented on #198
No, simply because the free versions is updated on an hourly basis and due to the rate limits we've kept it to the minimum we can get away with and that sticks to only updating when the feed does. Having said that we do update whenever a change is made to a currency in the admin panel.

[2012-11-20 01:00] #198 closed, assigned to nobody

[2012-11-22 11:29] chrisnharvey opened #199 "Price formatting issue"
There is a problem with the prices formatting to 3 decimal places in some instances. This is resolved when using {{ price_formatted }} but is quite annoying.

[2012-11-22 13:54] chrisnharvey opened #200 "Show gateway errors"
When there are problems with payment gateways, the error that we get from the gateway is not shown, which makes it very difficult to debug gateway issues which are usually mistyped API keys etc.

Errors will be displayed in 1.1.1

[2012-11-22 13:56] chrisnharvey opened #201 "Image upload issues"
There are several issues with uploading images to both products and categories. The errors vary but they tend to only occur when we upload the first image.

[2012-11-22 15:23] #201 closed, assigned to jHoldroyd

[2012-11-22 21:28] nickrichwi commented on #195
http://a22095a3c9b523613f13-25ed30938afcc520c684fe7fb365e4f1.r53.cf1.rackcdn.com/1353619576.2012-11-223.22_.34pm_.png
[Missing price currently how it looks](http://a22095a3c9b523613f13-25ed30938afcc520c684fe7fb365e4f1.r53.cf1.rackcdn.com/1353619576.2012-11-223.22_.34pm_.png)

http://a22095a3c9b523613f13-25ed30938afcc520c684fe7fb365e4f1.r53.cf1.rackcdn.com/1353619576.2012-11-189.06_.56pm_.png
[java

[2012-11-23 09:29] chrisnharvey opened #202 "IE7 Checkout Validation"
Similar problem to shipping validation appearing when products are set to not require shipping. Shipping validation errors appear in the checkout. In IE7 when entering billing details, shipping validation errors appear.

[2012-11-23 09:34] #202 closed, assigned to jHoldroyd

[2012-11-23 12:05] chrisnharvey opened #203 "Gateway issues"
There are a few issues with payment gateways that need to be resolved.

Some gateways (SagePay) require an extra step to confirm the purchase then return to a specific URL. The transactions table is required for this however it seems that this table never seems to get any entries.

[2012-11-23 13:45] mcryan opened #204 "Downloadable Products"
Hi,

Is there any support for downloadable products with an unlimited amount of stock? If not, are there any plans for such features?

[2012-11-23 14:04] chrisnharvey commented on #204
I have been working on a digital downloads module for FireSale. I can give
you access to the private repo if you like.

Sent from my iPhone

On 23 Nov 2012, at 01:45 PM, Marco Ryan notifications@github.com wrote:

Hi,

Is there any support for downloadable products with an unlimited amount of
stock? If not, are there any plans for such features?

—
Reply to this email directly or view it on
GitHub

[2012-11-23 14:14] mcryan commented on #204
That would be great. I'd be happy to contribute to it if you need some help?

[2012-11-23 14:57] chrisnharvey commented on #204
That would be great! I've given you access to the FireSale-Digital repo and a few others if you want to test those? Any feedback you can give would be very helpful.

Enjoy!

[2012-11-23 15:24] chrisnharvey opened #205 "Category status gets set to "Draft" on edit"
When editing a category, the status does not update to show the status of the category that is being edited. It always shows "Draft".

[2012-11-23 21:52] jHoldroyd commented on #205
Quick question, was SEO installed at the same time? If so it's more than likely a lingering JS issue, if not something new and interesting is up

[2012-11-23 23:12] chrisnharvey commented on #205
If I'm honest, I don't think it was.

Sent from my iPhone

On 23 Nov 2012, at 09:52 PM, Jamie Holdroyd notifications@github.com
wrote:

Quick question, was SEO installed at the same time? If so it's more than
likely a lingering JS issue, if not something new and interesting is up

—
Reply to this email directly or view it on
GitHubhttps://github.com/firesale/FireSale/issues/205#issuecomment-106705

[2012-11-24 02:47] nickrichwi commented on #195
Ok made a little progress there was a setting in the Settings -> General -> Currency was set to &pound;. I did not expect the setting to be in general .. figured it would have been in FireSale. My product fields now have no currency marks at all ( see previous post ). Poking around it seems that there are not any...

[2012-11-24 17:35] jHoldroyd commented on #195
Going to open this one again so we can remember to change it, it should have been done already and I thought it had been...not sure what happened to it

[2012-11-25 15:36] from2day opened #206 "Is it possible to overload admin view?"
I've tried to overload orders view in admin. The path seems not working:
    shared_addons/themes/my-theme/views/admin/modules/firesale/admin/orders/index.php

[2012-11-25 15:38] chrisnharvey commented on #206
As the admin panel has a different theme, you will need to do your
overloading in your admin theme. Usually /system/cms/themes/pyrocms

Sent from my iPhone

On 25 Nov 2012, at 03:36 PM, paulius notifications@github.com wrote:

I've tried to overload orders view in admin. The path seems not working:
shared_addons/themes/my-theme/views/admin/modules/firesale/admin/orders/index.php

—
Reply to this e

[2012-11-25 15:55] from2day commented on #206
Of course. Thanks.

[2012-11-25 15:55] #206 closed, assigned to nobody

[2012-11-25 19:58] from2day commented on #196
What is the meaning of function "category_fix". When categories are shown as numbers, this fix, deletes all category associations to products

[2012-11-25 20:09] from2day opened #208 "Quick product edit with quote symbols"
Looses title if there are quotes in title

[2012-11-25 20:12] from2day opened #209 "Quick product edit shows price input error"
When quick edit product, price input is red. Validation does not allow currency symbols, but is added automatically.
I use currency of two symbols.

[2012-11-25 21:19] jHoldroyd commented on #196
There's an issue with the multiple field-type that would save and re-save categories multiple times, the fix removes them before saving so you aren't left with repeat entries in the database

[2012-11-25 21:26] jHoldroyd commented on #196
Just as a test, can you run the following query on your database and see if it fixes it:

[code]

Want to make sure that the title column is set correctly, otherwise it may just be using the ID. If that fixes it I'm not sure what caused it, but it is the most likely fix for the problem.

[2012-11-25 21:32] #208 closed, assigned to jHoldroyd

[2012-11-25 21:32] jHoldroyd commented on #209
Can you give an example of the currency you use?

[2012-11-25 21:54] #195 closed, assigned to jHoldroyd

[2012-11-25 22:04] #205 closed, assigned to jHoldroyd

[2012-11-25 22:06] jHoldroyd commented on #205
Somewhere the array was being passed instead of a simple value that it wasn't checking for, fixed now though

[2012-11-25 22:06] #189 closed, assigned to nobody

[2012-11-25 22:08] jHoldroyd commented on #199
Just doing this one quickly since I'm already in the file

[2012-11-25 22:12] jHoldroyd commented on #209
Ok nevermind, I think I already know the answer and a fix is on the way

[2012-11-25 22:13] #209 closed, assigned to jHoldroyd

[2012-11-25 22:14] jHoldroyd commented on #209
There we go, tested on a range of currencies at the start and end of the string, including "Lt" since that's what I think you're using as you've reported an issue before and included that.

[2012-11-25 22:40] jHoldroyd commented on #204
Closing this now

[2012-11-25 22:40] #204 closed, assigned to nobody

[2012-11-25 22:59] from2day commented on #196
Yes, that fixes the issue.
I have been doing few firesale module reinstalls in a row, but cannot test this now.

[2012-11-25 22:59] #196 closed, assigned to nobody

[2012-11-25 23:04] jHoldroyd commented on #196
So somewhere the categories title hadn't been set, not sure what's caused it but we'll keep an eye out for the issue and take care of it as and when we can. Thanks for letting us know though

[2012-11-25 23:10] jHoldroyd commented on #71
I'm closing this as we've got something in place for it now.

[2012-11-25 23:10] #71 closed, assigned to chrisnharvey

[2012-11-25 23:30] from2day commented on #209
Works correctly, great!

[2012-11-26 16:02] chrisnharvey commented on #203
This one has now been fixed

[2012-11-26 16:02] #203 closed, assigned to chrisnharvey

[2012-11-26 16:03] chrisnharvey commented on #200
This feature has now been added

[2012-11-26 16:03] #200 closed, assigned to chrisnharvey

[2012-11-26 16:06] chrisnharvey opened #210 "Small PayPal issue"
When PayPal express returns to FireSale, it does not mark the order as paid or complete the order in any way.

I have a fix for this and will push later.

[2012-11-26 16:07] chrisnharvey commented on #191
I've assigned @jHoldroyd as this is a part that he wrote.

[2012-11-27 10:45] chrisnharvey opened #211 "Issues with setting pricing for products"
When setting pricing in the admin panel, sometimes the javascript comes back with a different number to what the PHP does with obscure numbers. It's usually a penny out so not a huge problem.

[2012-11-27 10:59] jHoldroyd commented on #211
I'll look into it, I know there's a few issues to look into with quick editing too.

[2012-11-27 11:12] chrisnharvey commented on #199
There are still a few places where this problem occurs, reopening.

[2012-11-27 11:59] jHoldroyd commented on #199
Any examples? It should have been sorted at the root of the issue, when it's pulled out of products...strange

[2012-11-27 15:32] chrisnharvey opened #212 "Move navigation to the dropdown menu"
This one is long overdue. We need to move the navigation to the PyroCMS dropdown menu to allow more items to go in there and so we can fix #81

[2012-11-27 15:34] chrisnharvey opened #213 "Cleanup formatting and currencies"
There are a lot of inconsistencies with "price", "price_tax" etc.

I think "price" should be the value before tax and "price_tax" should be the value after tax.

Also, currencies needs a bit of a cleanup, as does taxes. I've assigned myself to the taxes cleanup issue.

[2012-11-27 15:35] chrisnharvey opened #214 "Cleanup formatting and taxes"
There are a lot of inconsistencies with "price", "price_tax" etc.

I think "price" should be the value before tax and "price_tax" should be the value after tax.

Also, taxes needs a bit of a cleanup, as does currencies. I've assigned @jHoldroyd to the currencies cleanup issue.

[2012-11-27 15:36] chrisnharvey opened #215 "Cleanup orders"
Orders needs a long awaited cleanup. I haven't assigned anyone to this as I think it should be a team effort ;)

[2012-11-27 15:38] chrisnharvey commented on #83
Not really. When we move to laravel, autoloading will be done automatically. Closing.

[2012-11-27 15:38] #83 closed, assigned to chrisnharvey

[2012-11-27 15:38] chrisnharvey commented on #138
Did some of this in v1.1, but I think I can cleanup the cart a lot more.

[2012-11-27 15:40] chrisnharvey commented on #212
Whoops, this is a duplicate of #78. Closing.

[2012-11-27 15:40] #212 closed, assigned to chrisnharvey

[2012-11-27 15:41] chrisnharvey opened #216 "Update shipping"
It would be great if the stock shipping module did more. Could this be done for v1.2 @jHoldroyd?

[2012-11-27 16:28] jHoldroyd opened #217 "Split all modules into standalone packages"
As we've found out with (quite rapidly) with 1.1, our current method of doing things will not work in the long run. So we've taken the decision to split up all modules of FireSale into separate, standalone packages that regardless of the other parts installed will work seamlessly.

If you don't need brands, don't install it, if you just want to accept payments, install that and pay for anything, n

[2012-11-27 16:32] jHoldroyd commented on #215
_cough_

[2012-11-28 00:47] ghost opened #218 "PayPal IPN"
How does FireSale work with PayPal IPN?

Do I need to setup a route and view?

[2012-11-28 01:34] joshuarlowry opened #219 "Change Duplicate Slug"
I don't think duplicate product is very clear.  When I select a single product and click duplicate it brings me to the edit page for the item.  If I change the slug it changes the slug for all of the ones that I used the duplicate button with.  It isn't very clear what the duplicates are after I have gotten this far.

If I select multiple products and click duplicate... I can't comprehend what hap

[2012-11-28 01:37] joshuarlowry opened #220 "Product Current Stock Required even when I choose Unlimited"
Current stock is required even when I choose unlimited.  After I see the error from submission I return and put 0 in there, because we don't hold stock.  It switches the dropdown to "Out of Stock".  This is confusing.

[2012-11-28 07:44] jHoldroyd commented on #220
If you set the stock level to 0 and then set it to unlimited it shouldn't attempt to change the dropdown. Admittedly the automatic changing of stock level was added before we had an unlimited stock level but we can't say it's ever been that problematic.

If you really don't want it to do it, it's a simple change in the js/product.js file to remove it.

[2012-11-28 16:37] chrisnharvey opened #221 "Error on taxes deletion"
Sometimes when you try to delete a tax band, an error shows up. This is because the taxes_m model has not been loaded at the time it tries to call it. Easy fix and will push ASAP.

[2012-11-30 13:18] zaja opened #222 "Plugin method "options" does not exist on class "Plugin_Theme""
I'm receiving this error in Pyro log, it happens when I access Firesale front/category:
Plugin method "options" does not exist on class "Plugin_Theme"

[2012-11-30 13:23] zaja opened #223 "Pagination error"
I can't get category Pagination to work, on Firesale root category click on pagination not result with anything, but if I enter in an category click on next page displaying error message:

An Error Was Encountered
The page you are trying to view does not exist and it also appears as if the 404 page has been deleted.

Please take a look:
Categories index page: http://md-filtea.hr/category/
An categ

[2012-11-30 13:52] jHoldroyd commented on #223
If you go to your admin section, and then go into FireSale Routes and edit your category route and make it the following:

[code]

I haven't tested them but they should work, I'll make sure they're added to the 1.1.1 update that'll be released early next week.

[2012-11-30 13:53] jHoldroyd commented on #222
I'll take a look into that and see what's happening.

Thanks for reporting it

[2012-11-30 13:57] zaja commented on #223
Thanks, but not work, how to put back pld values?

[2012-11-30 13:57] zaja commented on #223
sorry....how to put back old values?

[2012-11-30 14:00] jHoldroyd commented on #223
The original values are:

[code]

I'll take a look now and see if I can find a better fix or at least the right route config for you.

[2012-11-30 14:02] zaja commented on #223
Thanks, I can send you admin acces if you like?

[2012-11-30 14:03] jHoldroyd commented on #223
Ok I've just done a quick test and confirm these work:

Map: category/{{ slug }}{{ any }}
Route: category(/[a-z0-9-]+)?(/[0-9]+)?
Translation: firesale/front_category/index$1$2

[2012-11-30 14:07] zaja commented on #223
Great man, now pagination works fine if I select an category, for example "Macke".
But still not works on index/root categories page.

[2012-11-30 14:07] jHoldroyd commented on #223
This should now be fixed for any new installations.

[2012-11-30 14:10] zaja commented on #223
I see that you closed issue, maybe you missed my reply:
"Great man, now pagination works fine if I select an category, for example "Macke".
But still not works on index/root categories page."

[2012-11-30 14:26] zaja opened #224 "Pyro ENVIRONMENT Constant problem"
Setting the Pyro ENVIRONMENT constant to a value 'production' will cause that Firesale is not accesable in admin area. It looks for "addons/shared_addons/modules/firesale", but firesale path is "addons/shared_addons/default/modules/firesale"?

A PHP Error was encountered

Severity: Warning

Message: file_get_contents(http://md-filtea.hr/addons/shared_addons/modules/firesale/css/dashboard_productsa

[2012-11-30 14:31] jHoldroyd commented on #223
Oh sorry, I didn't see the reply. I've got an idea on how to fix it, but it'll have to be included in an update rather than a simple routes fix for that issue.

[2012-11-30 14:49] #223 closed, assigned to jHoldroyd

[2012-11-30 14:50] jHoldroyd commented on #223
There we go, should be taken care of now with that last commit. Just replace your categories model and front category controller and it should be all good with the routes I gave you before.

[2012-11-30 15:05] zaja commented on #223
Great, tested and works fine. Thanks :)

[2012-11-30 15:20] #224 closed, assigned to nobody

[2012-11-30 15:21] jHoldroyd commented on #224
This should be taken care of, just update libraries/firesale in the core and it'll be fixed. Thanks again.

[2012-11-30 15:24] zaja commented on #224
Great!

[2012-11-30 15:27] jHoldroyd commented on #222
I've just gone through all of our error logs to try and find the error in our development servers but I see no reference to it. I'm not sure if it's related to your other issues, but the only thing I can find anywhere about this error is this:

https://www.pyrocms.com/forums/topics/view/17753

Which isn't even about that really. I'm not sure what's causing it, but I don't think it's FireSale and w

[2012-11-30 15:29] zaja opened #225 "FireSale Products widget issue"
Problem with FireSale Products widget, I have added widget to sidebar, set to show last 5 products from category, if I select NO in widget setting  "Show Sale Items", it display products in right column, but with PHP error on the top. If I select YES it not display any products as no product on sale under last 5.

Take a look: http://md-filtea.hr/

A PHP Error was encountered

Severity: Notice

Me

[2012-11-30 15:40] #191 closed, assigned to jHoldroyd

[2012-11-30 15:40] zaja commented on #225
Error log:
ERROR - 2012-11-30 16:36:28 --> Severity: Notice  --> Trying to get property of non-object /home/mdfiltea/domains/md-filtea.hr/public_html/system/cms/modules/streams_core/field_types/user/field.user.php 124
ERROR - 2012-11-30 16:36:28 --> Severity: Notice  --> Trying to get property of non-object /home/mdfiltea/domains/md-filtea.hr/public_html/system/cms/modules/streams_core/field_types

[2012-11-30 15:41] jHoldroyd commented on #191
Moved to flashdata as opposed to form validation, makes it easier to manage, removes the requirement for PHP at the top of the file...oh and actually works too which is a nice little bonus.

[2012-11-30 15:43] jHoldroyd commented on #219
Duplicate product was intended to be used to create product options on a rather basic level, by joining and syncing them we could pull out the information for the varieties. It's a terrible way to do things and in 1.2 this will be changed and duplicate will work as expected without the linking issue.

[2012-11-30 15:49] jHoldroyd commented on #220
I've updated the JS a little bit to take this into consideration, changing to unlimited now updates the stock status to 0 so you don't have to worry about setting anything in it.

[2012-11-30 15:49] #220 closed, assigned to nobody

[2012-11-30 16:44] jHoldroyd commented on #211
JavaScript seems to use a slightly different rounding method to PHP. JS rounds the last number up by one whereas PHP just cuts it off at the point you asked it to and this is where the issue stemmed from, for example:

[code]

I changed the default method of rounding in our price formatting function and it seems to have taken care of the problem.

[2012-11-30 16:47] #211 closed, assigned to jHoldroyd

[2012-11-30 16:48] jHoldroyd commented on #221
Referenced the wrong issue sorry, should have been #211

[2012-11-30 16:48] zaja opened #226 "Firesale Search"
I'm not sure if this is question for Issues, but I can't find any info how to use Firesale Search module?
I can't see search related route under Routes or any other setting. Also, on Firesale DOCS no info about search module.
Any guideline guys?

[2012-11-30 16:50] jHoldroyd commented on #199
This should finally be resolved with the last updates I pushed to take care of a few issues with the JS vs PHP pricing.

[2012-11-30 19:18] jHoldroyd commented on #225
Which version of PyroCMS are you using?

[2012-11-30 20:36] zaja commented on #225
Latest 2.1.5, I have enabled widget so you can check errors on site:  http://md-filtea.hr/

[2012-11-30 21:57] jHoldroyd commented on #225
As I thought, the issue is actually one with the streams core, I submitted a pull request to fix it that you can find here: https://github.com/pyrocms/pyrocms/commit/5e2dba0c9a893e51d46d137ea274a6d73dcecffe

For some reason it didn't make it into 2.1.5 but you can manually make the change (or I think it may be in it now). I'm closing this now, but hopefully you can get it sorted!

[2012-11-30 21:58] #225 closed, assigned to nobody

[2012-11-30 22:03] zaja commented on #225
Thanks, fixed. :)

[2012-12-01 00:17] #221 closed, assigned to chrisnharvey

[2012-12-01 14:08] jHoldroyd commented on #222
I'm going to close this one, I don't believe it's an issue with the FireSale core and may be an issue with your theme or Pyro itself. I can't find any more information on anyone experiencing this bug and after checking error logs we've never seen this before.

If you find any more information or can pin it down to something specifically wrong with this module feel free to reopen it and we'll look

[2012-12-01 14:08] #222 closed, assigned to jHoldroyd

[2012-12-01 14:40] jHoldroyd commented on #226
Sorry, we're aware the documentation is really lacking and we're forever working on getting it improved but for now the route you'll need is below and we'll make sure it's added into 1.1.1 so it's installed by default.

[code]

I do have to note though you'll need to be running the next version of FireSale 1.1.1 for this to work, we totally missed search out and the controller names may be differe

[2012-12-01 18:15] #226 closed, assigned to jHoldroyd

[2012-12-02 00:11] jHoldroyd commented on #218
IPN was deprecated from the CI-Merchant library and during development for 1.1 we updated to the latest version which no longer supports it. There's a number of reasons for the move, but the biggest driver for this is the fact that PayPal have made the IPN redundant. The API version of their gateways is free, more reliable and much easier to work with.

If you really want to use it you'll need to

[2012-12-02 00:11] #218 closed, assigned to nobody

[2012-12-02 11:12] zaja opened #227 "Subcategory created, but can't edit it"
I have created sub-category of an root category, but after creation I can't edit it, click on sub-category name in admin area not open edit option in right panel.
Also, How to display sub-category in menu, by default it display only root categories?

[2012-12-02 11:19] zaja commented on #223
Uh, today I can't acces any category or pagination, it's incredible, take a look (try to change page or click on any category):
http://md-filtea.hr/category

Category Route setting:
http://screencast.com/t/ktfRihv3a

[2012-12-02 11:54] zaja opened #228 "Brands menu not works on front end"
I have installed Brands module, added some brands and assigned come product to brands.
I'm not sure why, but Brands menu on front end not works, it display only title "BRANDS", without any brands in list. This is menu code:

{{ firesale:brands limit="0" }}
          <a href="{{ firesale:url route="brand" id=id }}">{{ title }}</a>
{{ /firesale:brands }}

[2012-12-02 12:07] jHoldroyd commented on #228
The plugin command for brands is:

[code]

If you change that it should work.

[2012-12-02 12:08] #228 closed, assigned to nobody

[2012-12-02 12:14] zaja commented on #228
Thanks, but not sure why it not work, I have entered this:
{{ firesale_brands:get}}
          <li><a href="{{ firesale:url route="brand" id=id }}">{{ title }}</a></li>
{{ /firesale_brands:get }}

[2012-12-02 12:18] jHoldroyd commented on #227
I'll look into the editing issues for you soon, could you please provide the details you used for the category information so I can try the same locally and see if it's a special character issue please?

Also about the sub-category display, use the same markup but the plugin tag is:

[code]

You can also do the same with sub_sub_categories. It's all down to limitations with lex not allowing us to

[2012-12-02 12:27] zaja commented on #227
How exactly sub-category menu works, sub category is available only if parent category is selected?

[2012-12-02 12:35] zaja commented on #227
Also, I don't think that this is a special characters issue, if I move it from subcategory to root category it works fine, I can eddit it.

[2012-12-02 12:53] zaja opened #229 "Firesale Brands permission"
It seems that Brands page in admin is not available if user don't have all rights set in permission setting. I have created admin group with limited permissions for Firesale, Brands link is availablem but click on it redirect to Front end index page.

[2012-12-02 21:12] joshuarlowry commented on #186
How do I change the default currency?  It is giving me an error when I try to modify it.  Our site only handles USD, so having GBP on the site at all will be very confusing.

[2012-12-02 21:56] jHoldroyd commented on #186
What's the error that it's giving you? You should be able to modify it and that way you still keep the default currency and don't need to create a second.

[2012-12-03 07:52] zaja opened #230 "Name of product - rename issue"
I can't edit the name of product if I want to change font case used in Title. it display message that such name already exist.
Example, I have creaed product with this name: PRODUCT 1, if I want to change it to proDUCT 1 firesale will not allow.

[2012-12-03 09:11] jHoldroyd commented on #230
I'd say that's more of a streams issue which may turn out to be an issue with MySQL, I don't think there's anything we can do about this one we just rely on the in-built CI and Streams validation.

[2012-12-03 09:11] #230 closed, assigned to nobody

[2012-12-03 23:40] joshuarlowry commented on #210
Has this been pushed yet?

[2012-12-04 00:07] jHoldroyd commented on #210
Not yet, last I heard it was proving to be a little more difficult than expected. You should see it up and 1.1.1 tagged tomorrow, with 1.1.2 following quickly with product modifiers/variants later in the week.

[2012-12-04 02:46] joshuarlowry opened #231 "Empty Cart"
We would like to create a button that empties the cart.  What is the recommended route to do this?  I see the destroy cart, but I'm not exactly sure that is what we want to do.

[2012-12-04 03:28] jcastillotx commented on #210
Chris any status on the push. Thanks

[2012-12-04 10:43] chrisnharvey commented on #231
You could create a small module which runs `$this->fs_cart->destroy()`. This method completely empties the cart.

[2012-12-04 14:41] joshuarlowry commented on #231
We are seeing some strange effects when using this destroy.  If we destroy and then use code immediately after to add items to the cart they don't seem to be showing up.

[2012-12-04 14:42] joshuarlowry commented on #231
In addition, does that doestroy the user's session for that load?  It looks like I'm logged out when I visit the cart after calling the destroy.

[2012-12-04 14:45] chrisnharvey commented on #231
I see... It shouldn't log you out, however it may now allow you to add stuff to the cart immediately after it has been destroyed. I'll have a look into this and see if there are any problems, if so, I will fix them and let you know.

Could you try the following to empty the cart?:

[code]

[2012-12-04 14:46] chrisnharvey commented on #229
This issue has been around for a while (#81) and will be fixed in v1.2.

The only way (at present) to enable access to the additional FireSale modules is to add them manually to the permissions table in the database.

[2012-12-05 01:07] ghost commented on #231
We have confirmed that destroy works as we expect it to.

Also, the issue we had with the user being logged out was an issue with our code.

This ticket should closed.

[2012-12-05 01:07] joshuarlowry commented on #231
/me says _doh_

[2012-12-05 01:07] #231 closed, assigned to chrisnharvey

[2012-12-05 04:04] ghost opened #232 "cart/payment vs users/orders/#"
Seems a little strange to send a user to cart/payment to pay for an order when they did not pay for it the first time instead of sending them to the order and being to pay it from there (like users/orders/#).

Here is our workflow:
1.  User has items in their cart and they click 'Goto Checkout"
2.  Now they are at cart/payment and they click 'Checkout & Pay'
3.  They fill out their address info an

[2012-12-05 04:53] joshuarlowry opened #233 "ci-merchant merchant_manual gateway doesn't work"
I found in the ci-merchant system a payment gateway called merchant_manual which is exactly what I was looking for... it authorizes everything.  I didn't see it in your release version.

You can find it here... https://github.com/expressodev/ci-merchant/blob/develop/libraries/merchant/merchant_manual.php

I added a view called manual.php which contains some text and a submit button with a form.  W

[2012-12-05 09:43] chrisnharvey commented on #233
Hi, I work on the payment/cart system in FireSale. The reason I didn't include this gateway is because it marks the payment as complete, when really it should mark it as "Processing" or something like that.

I have this on my list of tasks for our next version, however I will look into the problem you are experiencing and try to come up with a fix, that's if you're happy with it marking all paymen

[2012-12-05 10:18] jHoldroyd commented on #233
It would make sense to leave them as unpaid since there's no status that would really fit...baring maybe processing and then to mark it as dispatched/paid manually when it's ready to ship or collect.

[2012-12-05 10:23] jHoldroyd commented on #232
I have a feeling that it must go to the cart at the moment as that's where all of the payment functions are held. In 1.3 (previously 1.2) we are ripping apart the core of FireSale into separate, self-contained modules and doing something like this would require a change as easy as putting a link into your template file to create the flow you want.

Payments will be a separate core module, as will

[2012-12-05 23:53] ghost commented on #232
Sounds good.

:)

[2012-12-06 00:05] joshuarlowry commented on #233
I would like to leave them unpaid and manually change them through the firesale interface.  We have mostly PayPal but some manual payments... we really need a solution for the manual payments because those people are cranky about paying in any other way.

[2012-12-06 00:19] jHoldroyd commented on #233
I think the gateway will work and I'll make sure Chris gets it into the development version soon for you to use.

Until we tag 1.2.0 it might be a better option to add it to 1.1.0 because we're doing some big changes prior to 1.3.0 that we can't guarantee will be stable until release - they're amazing but there's potential for issues still.

[2012-12-06 00:20] joshuarlowry commented on #233
I'm going to be investigating this tonight.  Hopefully, I will be able to get it to mark the order Unpaid.

[2012-12-06 01:09] joshuarlowry commented on #218
Maybe I do not understand the PayPal Express Payment system, but I thought that IPN's primary purpose was to verify payment was received.  This serves as a second defense to ensure things are properly updated if the user does not return to the website after completing payment through PayPal.  Without IPN, I think you would have to manually update those orders, and the user would see them as Unpaid

[2012-12-06 03:16] amacneil commented on #233
Hey guys - this came up in my google alert. Actually, if you're calling `authorize()`, it shouldn't mark the order as paid, only authorized.

I'm not sure how you have implemented this, but normally when a payment is authorized you don't mark the order as "paid", at least until the payment is captured.

[2012-12-06 03:57] joshuarlowry commented on #233
We were able to get this to work for us.... I really would like to see this in a future release.

We had to heavily modify front_cart.php and added an order processing method.

[2012-12-06 10:35] chrisnharvey opened #234 "Pricing changes to three decimals on ajax filtering"
When applying an ajax filter to the products page in admin causes the prices to have three decimal places. i.e. 4.49 becomes 4.488

[2012-12-06 11:08] chrisnharvey commented on #199
Reopening. There are still a few places where this occurs.

[2012-12-06 11:09] chrisnharvey commented on #215
Moving to 1.3.0

[2012-12-06 11:11] chrisnharvey commented on #233
@adrianmacneil Thanks Adrian, didn't realize. I will change this in our next version. Thanks for the heads up.

[2012-12-06 11:26] #234 closed, assigned to jHoldroyd

[2012-12-06 11:27] jHoldroyd commented on #234
Just had to update a few things and to use price_formatted, it also took care of ajax editing a product after filtering...who knew that was broken!

[2012-12-06 11:32] #219 closed, assigned to jHoldroyd

[2012-12-06 11:33] jHoldroyd commented on #156
Just as an update, this is almost done and is now available to test in the 1.2/develop branch

[2012-12-06 11:37] jHoldroyd commented on #213
I'm not going to touch the variable names until we do the rebuild for 1.3.0 but I will take care of the rest

[2012-12-06 13:16] jHoldroyd commented on #139
Closed as this has become a none issue with the intended plans for 1.3.0

[2012-12-06 13:16] #139 closed, assigned to jHoldroyd

[2012-12-06 16:04] chrisnharvey commented on #199
I think this one is now fixed with my latest commits to the 1.2/develop branch... Finally!

[2012-12-06 16:04] #199 closed, assigned to chrisnharvey

[2012-12-06 16:05] jHoldroyd commented on #199
"Your commits", who came up with the bloody fix?!

[2012-12-06 16:09] chrisnharvey opened #235 "Rewrite the core in Laravel"
Pyro is moving to the Laravel framework which will give us some amazing new functionality and make it easier to unit test.

I believe this migration is expected mid-2013

[2012-12-06 18:03] jHoldroyd commented on #235
Just a small one then...

[2012-12-06 19:35] ChristianGiupponi commented on #235
Why don't you create a different repo for the v2.0?
In this way on GitHub there is a different repo for user that will use the new version of PyroCMS based on Laravel and an old one for users that still use old version based on CI.

[2012-12-06 23:37] jHoldroyd commented on #235
It'll definitely be another branch, there's a chance we'll move it to another repo but most users don't check the readme so they'd end up on the wrong repo wondering why it won't work. This is all a long ways off anyway and we'll make a firm decision closer to the time - we can't start until Pyro is part way done so we know how things are going to work and integrate together. Plus we've got 1.2 an

[2012-12-08 12:12] jHoldroyd opened #236 "Product Creation Save & Close error"
When creating a new product, pressing save and close if there are errors will take you to the index page with an error message but you have lost all data.

[2012-12-10 01:54] FornetMK opened #238 "Deleting category clears products-categories relations [bug]"
I have just noticed that before minute.

Removing a category - makes all products to be moved into main category of the shop (the one you cannot delete).  I have tested: it does not matter if the deleted category had or not any product in it.

I run latest PyroCMS pro version, and FireSale downloaded from the Pyro shop (not directly from github).

[2012-12-10 02:14] FornetMK opened #239 "Space as Thousand Separator Symbol [request]"
The system does not accept space as thousand separator symbol at the moment.

In Polish - we  use "," (coma) as decimal symbol and with thousands separator -  we do not use any additional symbols. Numbers under 10000 are rather written together. Only big numbers - use space like 1 000 000. But at the moment in FireSale you cannot define nor space nor no-symbol.

[2012-12-10 19:04] joshuarlowry opened #240 "PayPal Express Failed Transaction "Field is Required""
I am having an issue with PayPal Express, and it was giving a generic error "failed" essentially.

I saw some of the updated code for 1.1.1 about displaying errors.  I updated my code to insert into the database and set the flashdata.  It now says "Field is Required"  Any idea of how to determine which one?

[2012-12-11 02:00] joshuarlowry commented on #240
This was our problem.  We were destroying the cart in an extra place where we thought it was safe, but something in the paypal payment depends on some or all of the cart being there.

[2012-12-11 02:00] #240 closed, assigned to nobody

[2012-12-11 02:18] joshuarlowry commented on #233
This, in the end, is a duplicate of my other request for pay by check.  Whichever one you prefer at this point.

[2012-12-11 18:24] joshuarlowry opened #241 "PayPal Express redirects back to the site but doesn't collect money?"
After I click pay it goes to PayPal.  I log in.  I choose my payment method and click the Pay Now button.  Paypal appears to go to the review your order page but then redirects back to my site.

http://SITE/cart/success?token=...&PayerID=...

Payment was not collected.  Ideas?  I'm in real trouble here... I don't know even where to begin.

[2012-12-11 18:50] joshuarlowry commented on #241
Calling PayPal support.  Seems like it might be their issue.  Unsure.

[2012-12-11 19:04] joshuarlowry commented on #241
Confirmed with paypal that website is not sending the response after returning as a success to complete the transaction.  This might be something that we modified.  Investigating now.

[2012-12-11 19:08] FornetMK opened #242 "Usability - deleting product [request]"
Now - when you delete product - you are returned to the first page of product list.

That is fine if you have 10 products... but when you delete product from the 600 objects list,  paging back to the page where you have been - is not user-friendly :)

System should remeber the page where you have been before product deleting.

[2012-12-11 20:18] jHoldroyd commented on #242
Good call, I'll get this in tonight

[2012-12-11 20:19] jHoldroyd commented on #241
I'll leave this open until you can confirm where the issue is

[2012-12-11 20:25] #242 closed, assigned to jHoldroyd

[2012-12-11 20:26] jHoldroyd commented on #242
There we go, it's now in the 1.2.0/develop branch

[2012-12-11 20:43] #236 closed, assigned to jHoldroyd

[2012-12-11 21:00] #239 closed, assigned to jHoldroyd

[2012-12-11 21:01] jHoldroyd commented on #239
Ok so there was no real way around this one other than to (on post) convert the space to its' html entity alternative, since streams or ci trims all post data it's seen as a blank field if we didn't intervene before it was checked. This is in the 1.2.0/develop branch and  should look fine when displayed.

[2012-12-11 21:37] #238 closed, assigned to jHoldroyd

[2012-12-11 21:39] chrisnharvey commented on #241
Looks like there is a slight issue with this. I'm putting together a fix now. Apologies for the inconvenience.

[2012-12-11 21:42] jHoldroyd commented on #216
Slight change of plan for this one, closing for now.

[2012-12-11 21:42] #216 closed, assigned to jHoldroyd

[2012-12-11 22:08] jHoldroyd commented on #213
Moving this to 1.3.0 as it makes far more sense to do it with the rebuild than now. We've fixed most (if not all) of the inconsistencies with currencies so I think we're good for now.

[2012-12-11 22:08] #213 closed, assigned to jHoldroyd

[2012-12-12 00:13] joshuarlowry commented on #241
Find anything?  We are working to release this functionality tomorrow.

[2012-12-12 03:35] ghost commented on #241
So, here is what we did:

[code]

This is NOT a generic solution.  There is some error checking and things that need to be done... like the $params area was basically just a copy from purchase (not sure what generically is needed here) and

[2012-12-12 03:37] ghost commented on #241
As far as we are concerned, we are going to use this until you all have 1.1.3 out (where you move the payment processing away from the cart).

[2012-12-12 09:13] jHoldroyd commented on #241
I'm happy you've found a solution, I'll see what Chris has to say about this and see if there's anything more permenant as 1.3.0 is still a while away.

[2012-12-13 14:32] joshuarlowry opened #243 "Display order number and add search to Admin Order Interface"
Since a large amount of accounting for different orders is based on the Order#  it would be nice to show it in the table as well as allow you to search for it in the list.

[2012-12-13 15:48] jHoldroyd commented on #243
I do think we intended to do that but it was totally forgotten about for some reason, I'll make sure to get this in a little later today.

[2012-12-14 11:16] jHoldroyd opened #244 "Fix Routes Title"
When you edit a route it does the replacement into the title without parsing the items language so we're left with something like:

Control Panel - FireSale Edit lang:firesale:routes:category Route

[2012-12-14 14:20] ChristianGiupponi opened #245 "Feature - Add riserved area for user"
Hi,
I think that a good feature could be the possibilities to add the product to a specific group.
For example, I can create two different group for my users, normal customers and special customers.
Now if I need to show different product to the group, the best way to do this could be the possibility to add, during the creation of the product, to a particuray group...

i don't know if I have expla

[2012-12-14 14:32] jHoldroyd commented on #245
Don't worry it's easy enough to follow! Anyways, it's something we've considered and may put in at some point. We've done it before for projects but never felt it should necessarily go in the core, having said that with the major rebuild planned for 1.3.0 we may just put it in there...no promises though.

[2012-12-14 15:04] ChristianGiupponi commented on #245
Thanks Jamie, today I'm not able to make a sentence xD
It was just an idea I have had right now, just thinking that maybe some user could find it useful in the store :)

[2012-12-14 15:07] ChristianGiupponi opened #246 "Feature - Multi store"
Maybe this is a huge request, what do you think about the possibility to create a multi-store with just one back-end? Something like Prestashop does, don't know if you are familiar with it...

Maybe this is a good module to integrate with the multi site manager of PyroCMS...

This would be useful for user that want to display different products for different site, maybe this is connected with my p

[2012-12-14 15:39] jHoldroyd commented on #245
I think if we did do this it would be more than just products, it would be extended out into currencies, categories, tax rates, brands, products, etc. but we'll see how ti goes

[2012-12-14 15:40] jHoldroyd commented on #246
Is this really needed? Each site could just user its' own or a shared copy of FireSale and everything would be separate via the multi-site manager

[2012-12-15 01:42] FornetMK opened #248 "Image upload [bug?]"
FireSale version 1.1, on the latest PyroCMS Pro. Browser: Google Chrome.
1. I create product, have it done, I want to add image.
2. I hit edit, have image tab on, I drag image there, and here comes the problem:

   there is obviously try of upload - but it does stop in half of the way, and I get the error statement.

![image-err](https://f.cloud.github.com/assets/2280617/14629/70b63684-4658-11e2-8

[2012-12-16 20:29] jHoldroyd commented on #248
Generally what causes this issue is incorrect write permissions on the uploads directory. It should have been fixed for 1.1 but if you can update to either 1.1/develop or 1.2/develop and see if it keeps happening if the permissions are correct.

[2012-12-16 20:38] FornetMK commented on #248
It is not the fault of directory permissions. I have manually changed to 777 for the test (had 755) - and the problem still happens.

By the way, it cannot be that, because if it would be file permissions - no files could not be uploaded by any means. And they can be - by standard file module.

-edit-

I have double checked.

I have 777 on uploads, then 777 on "default" (site name in site manager)

[2012-12-16 20:41] #244 closed, assigned to jHoldroyd

[2012-12-16 20:42] #243 closed, assigned to jHoldroyd

[2012-12-16 20:50] FornetMK opened #249 "Image adding [request]"
Currently you can "drag & drop" image to the field in product edition.

It is not very user-friendly, unless I do not know how to use it well.  I need to open next window on the computer, with explorer, and drag...

Could we have simple "add images" button, and just select / multiselect images to add from good, old-school "computer explorer" window? Like it is in standard files module of Pyro (you

[2012-12-16 20:56] jHoldroyd commented on #249
We've been considering this for a while, it's annoying at times to say the least. The issue is we have to update the library we use for uploads so it's not a quick or easy fix to make but I'll see what we can do about getting this in for 1.2.0 or 1.3.0

[2012-12-16 20:59] jHoldroyd commented on #248
I only mention it because that's the only time we've seen this issue since changing the way we create a folder; which is in the 1.1/master branch. I'll do some more testing and see if I can replicate it but I think it's all working on this end at the moment.

[2012-12-20 16:15] jHoldroyd opened #251 "We Need Caching Now"
I thought we could get away with this for longer but as Adam just proved with his crazy menu system, we need this now. Streams does generate a lot of queries as is, but we really don't help things with the way we handle URLs and other things so this must be done now before it becomes too much of an issue.

After some early testing and utilising PyroCache and Codeigniter Cache we reduced a page fro

[2012-12-21 11:38] jHoldroyd opened #252 "Add Design Controls to Products, Categories, Brands, etc."
Something we've come up across recently is wanting different designs for the various categories or products of different types. Rather than hacking something in for each individual product we aim to add JS/CSS, Layout and Template controls to each item that makes sense giving you complete control over how things are displayed.

[2012-12-21 11:39] jHoldroyd opened #253 "Complete 2.2 Compatibility"
As 2.2 is nearing release much of the admin styling, labels, etc. have been broken in these later updates. We'll need to go through and ensure everything is working and in place - much of this has already been done at a code level but styling is still off at the moment.

[2012-12-21 14:04] FornetMK commented on #253
Well its not as bad  as it looks like, there is some usabitilty issues, but they aren't very annoying, at lest when you explain to the customer whats going on where :)

I rather feel pain about module not being able to use page layouts coded in the admin panel (unless i dont know how to force it for the module), but this is the case of Pyro itself I think.

Maybe this issue should be be moved to n

[2012-12-21 14:06] FornetMK commented on #252
Do you mean that it will be possible to style module just like standard pages in Pyro (layouts as files in themes + page layouts defined in admin panel)? That would be really great.

[2012-12-21 14:31] jHoldroyd commented on #253
2.2 is now in beta and will be officially released in the next few weeks, we'd prefer to get the compatibility in place now for those that choose to use 1.2.0 before we rip everything apart going to 1.3.0. These changes will be purely cosmetic and will not be changing the functionality to integrate with any of the new systems provided in 2.2 apart from search.

[2012-12-21 14:32] jHoldroyd commented on #252
Yes, the ability to choose a range of options including the layout for the page you'd like to use, the template file for this specific page and css/js controls on each of the items we enable them for on a per product/category/etc. basis.

[2012-12-22 17:28] chrisnharvey commented on #156
Is this one finished @jHoldroyd?

[2012-12-22 17:28] chrisnharvey commented on #210
Sorting this one out now. Will push in a few minutes, just doing some final testing.

[2012-12-22 17:43] chrisnharvey commented on #210
I see why I delayed this one. Working with the PayPal Sandbox is painful.

[2012-12-22 18:17] jHoldroyd commented on #156
Just need to get the language strings merged for translations and a little more testing and it should be ready to go. Everything is now integrated with the rest of the orders system etc. so it's done but I'll close it when I've had a bit more time to go through things today.

[2012-12-26 18:38] osari opened #255 "1.2/develop - Checkout Frontend: on error, form is not repopulated"
When checking out, form fields are not repopulated with values we entered.
To reproduce, enter some values to the form, but leave out the required fields and submit.

Furthermore, "My Billing and Shipping addresses are the same." appears five times under "Shipping Details"

[2012-12-26 18:41] jHoldroyd commented on #255
I'll do some testing on this tomorrow and see what we can do to sort it out for release with 1.2.0

[2012-12-26 20:30] osari opened #256 "1.2/develop - PyroPro multisite manager"
Upon uploading all modules on PyroPro, going to Add-Ons of the domain produces error:

An Error Was Encountered
Unable to load the requested class: firesale

However, when logging in from the domain's admin section and going to Add-ons, the above error does not appear and installation went smoothly.

[2012-12-26 21:18] FornetMK opened #257 "1.2/dev - install errors"
I am trying to install 1.2 devel ver of FireSale on clear and fresh installation of PyroCMS Pro.
(1.2 downoladed 20 minutes ago)

Cannot install it - because getting all the time streams [emtpy field] error. Updating the installation from working 1.1 master to 1.2 devel (by replacing module files) gives the same error.

Any hints what to check and test?

[2012-12-27 05:15] jHoldroyd commented on #256
This bug happens when Firesale is in place before an install is done. Pyro runs a check on the addons that are installed and firesale requires a library that pyro can't see at that point and this error occurs.

We are aware of it and there's a few possible fixes but for the time being you can just add firesale to the addons folder after the install is complete.

[2012-12-29 16:34] jHoldroyd commented on #257
What version of Pyro was this done on? I've just run 5 clean and 5 upgrade installs on both 2.1.3 and 2.2.0-dev and had no issues with any of them.

Edit: It's also possible that this error is being caused by installing in Polish (I presume) and there still being strings missing for certain fields. If you could give it a try again in English and see how that goes and I'll do a diff in a few moment

[2012-12-29 17:02] jHoldroyd commented on #257
Ok after doing a check and updating the language files if you weren't installing in English that's the cause of this problem. The Polish translations (as well as the others actually) hadn't been updated with the latest strings required for installation and that will have caused the streams errors you experienced.

If you pull down the latest copy you should find everything working as it should in

[2012-12-29 17:02] #257 closed, assigned to nobody

[2012-12-30 09:29] FornetMK commented on #257
Yes, English language instalation works fine.
Thanks for the solution :)

[2012-12-30 14:02] ChristianGiupponi opened #259 "1.2 - Admin - Modifier issue"
When you add an input type modifier there is no way to delete or modify it

[2012-12-30 14:09] ChristianGiupponi opened #260 "1.2 - Admin - orders"
When you check the checkbox on a paid order the bottom option doesn't shows up to allow you to change the order status or to delete it, is it normal?

Problem 2:

When you have an order and with the filter option you try to check different status such as unpaid and you have no order in that status the CP sais that there are no orders and this is ok but if you try to re-open the filter it is imposs

[2012-12-30 14:17] ChristianGiupponi opened #261 "1.2 - Admin - Products list"
Maybe the same error is in the 1.1 branch.
When you try to Duplicate or delete a product without check any checkbox the CP allow you to do the action.
In the delete case the CP says "Product delete successfully" when nothing really appened and with the duplicate option it gave a db error.

I think that the best way to handle it is disable the two buttons and enable them only if a checkbox is check

[2012-12-30 15:09] jHoldroyd commented on #259
Good catch, need to figure out where to add this...took ages to figure it out for the others but I'll get it in there soon

[2012-12-30 15:10] jHoldroyd commented on #261
I think this is just a simple class name issue and I'll look into it now but also check to ensure that delete/duplicate don't do anything with empty post arrays

[2012-12-30 15:12] jHoldroyd commented on #260
I'm going to presume problem 1 is a class issue and 2 is a js error that will stop scripts executing...looking into it!

[2012-12-30 15:46] jHoldroyd commented on #259
Don't know why this wasn't referenced but it's now fixed.

[2012-12-30 15:46] #259 closed, assigned to jHoldroyd

[2012-12-30 15:48] jHoldroyd commented on #261
Fixed with https://github.com/firesale/FireSale/commit/1d4e63835aaa9163edcb1e3ea42e83da8bf13af3

[2012-12-30 15:48] #261 closed, assigned to jHoldroyd

[2012-12-30 16:15] jHoldroyd commented on #260
This should be taken care of now https://github.com/firesale/FireSale/commit/cfd12b5cbd9612b32a7749d5107e295cc0e1d209

[2012-12-30 16:15] #260 closed, assigned to jHoldroyd

[2013-01-01 21:28] jHoldroyd commented on #253
Moving this out of 1.2.0 for now unless we take too much longer this should be fine in 1.2.1 - everything works just styling is a little off now. All languages have been tested and are correct for 2.2.0 but until the styling is finished we can't really work with it.

[2013-01-01 21:28] jHoldroyd commented on #156
Closing as it should be finished now.

[2013-01-01 21:28] #156 closed, assigned to jHoldroyd

[2013-01-03 18:43] motorsiklerider opened #263 "Can't add product to cart, cannot edit default currency"
Stoked on this awesome cms and addon. I am having problems though. I cannot edit the default currency from GBP to USD (Error when saving). Also I cannot add a test product to a cart without getting an error. You can test here if you wish:
http://bulletslinger.com/product/t

I checked file permissions on some files and I couldn't quite tell if that would be an issue. Most look 777?

Just some thoug

[2013-01-03 19:19] jHoldroyd commented on #263
This is a limitation of Pyro, regardless of what happens with the install, failed or not, it will still class the module as installed. However FireSale should have given you a message telling you what actually went wrong and usually an easy way to fix it. Unless you know what the message was I'd suggest uninstalling and reinstalling and letting us know what it said.

Along with that it would be ni

[2013-01-03 19:30] motorsiklerider commented on #263
Hi, Thanks so much for taking the time to reply.

I was using pyro's newest release as far as I know and FireSale 1.1 I believe.

I am assuming the installation of pyro or firesale wasn't 100% correct. I deleted everything and did it all again from scratch and now we are in business!

[2013-01-03 19:57] jHoldroyd commented on #263
Glad to hear it, closing this now.

[2013-01-03 19:57] #263 closed, assigned to nobody

[2013-01-08 10:19] chrisnharvey opened #264 "Move gateways to OmniPay"
@adrianmacneil has created a new PSR-0 composer package which will provide better gateway abstraction and some cool PHP 5.3 features.

[2013-01-09 15:26] amacneil commented on #264
I'm happy to help you guys implement this. I'll be adding support for all gateways ci-merchant supports and deprecating ci-merchant once it's finished.

The API isn't finalized yet, so I probably wouldn't start working on this until it's close to a 1.0 release. Will keep you in the loop.

[2013-01-09 22:42] chrisnharvey commented on #264
Thanks Adrian, that would be awesome! Tala payments is looking awesome by the way, I don't mind implementing some gateways if you need any help.

[2013-01-11 19:51] jerrydread opened #265 "Brand Module"
The brand module in front page, don't display the list, like categories
![categories_list](https://f.cloud.github.com/assets/3247285/60934/527a0636-5c2a-11e2-8ec4-2341821de6b0.jpg)

![brand_list](https://f.cloud.github.com/assets/3247285/60936/628bd9c8-5c2a-11e2-9804-551d01a4afb6.jpg)

[2013-01-17 10:47] chrisnharvey commented on #255
I think we've figured out whats going on here. I'll push a fix tonight.

[2013-01-17 10:50] chrisnharvey opened #266 "2.2 compatibility"
We need to move the hacky FireSale menu which I wrote a while back to the new PyroCMS menu method in the details.php file whilst still maintaining 2.1.x compatibility.

[2013-01-17 21:53] jHoldroyd commented on #266
I've just gotten the base menu structure in place, still some work left to do to remove the old hacks and the bits of the library that were responsible for the old menu but it's a good start so far.

[2013-01-17 21:57] jHoldroyd commented on #265
To be honest, it's not really meant to. We've never really wanted anyone to use the default views for a site...for a start they're plain awful and are instead meant as a little guide on how to use some of our tags and data objects. We may eventually upgrade the view to include this but it's not really a priority.

[2013-01-18 13:51] jHoldroyd commented on #251
Apart from some small tweaks this should be done now, closing.

[2013-01-20 10:52] james182 opened #267 "Tried to delete a tax band and got an error"
A PHP Error was encountered

Severity: Notice

Message: Undefined property: CI::$taxes_m

Filename: MX/Controller.php

Line Number: 57

Fatal error: Call to a member function can_delete() on a non-object in /Applications/MAMP/htdocs/PyroCMS_Professional_v2.1.5/addons/default/modules/firesale/controllers/admin_taxes.php on line 129

[2013-01-20 15:29] jHoldroyd commented on #267
I'm not sure what version you're using but this is now fixed in the 1.2/develop branch by https://github.com/firesale/FireSale/commit/e880b63e997dfb334cb9798c0a18a9dfa85936be

[2013-01-20 15:29] #267 closed, assigned to nobody

[2013-01-21 11:58] jHoldroyd commented on #255
This is now completed in the 1.2 branch, https://github.com/firesale/FireSale/commit/7cc6bb932bb4407e012b075e69f4785b34775205

[2013-01-21 11:58] #255 closed, assigned to jHoldroyd

[2013-01-21 12:03] jHoldroyd commented on #266
We're also now totally tied into the search indexes for both front and backend searching

[2013-01-21 12:04] jHoldroyd commented on #214
Those changes will be made in a future version. Closing this one as done now, any further changes can be made in a minor update or in the rebuild for 1.3

[2013-01-21 12:04] #214 closed, assigned to chrisnharvey

[2013-01-21 13:37] #192 closed, assigned to nobody

[2013-01-21 13:38] #229 closed, assigned to nobody

[2013-01-21 13:38] #227 closed, assigned to nobody

[2013-01-21 22:39] #249 closed, assigned to jHoldroyd

[2013-01-21 22:39] jHoldroyd commented on #249
There we go, you can now click to upload and we added fallback for none supported browsers.

[2013-01-21 22:46] jHoldroyd commented on #248
Ok I've been trying to replicate this for a while and the only issue I've found is that a successful upload doesn't count as that to the JS when something is output before the JSON string so it can't parse it. The folder issue is confusing to say the least as we use all of the built in methods from files with a few small tweaks that don't really matter to the script...I have no idea what to do abo

[2013-01-22 10:47] ghost opened #268 "Add attributes tab in product"
It will be good, if you add this option. And create a customisation attribute field. Thanks in advance

[2013-01-22 10:54] jHoldroyd commented on #268
We have something like that running as an additional module but are having a hard time finding a place for it now we can customise everything via streams. It does work well enough for things like product specifications etc that can be unique to each product.

I may clean it up a little bit and finally release it separate or try to package it up with core in a future release.

[2013-01-22 12:51] jHoldroyd opened #269 "Cart Widget"
Just gotten a suggestion to add a cart widget which would be very handy to have. Adding this to 1.2.0 as it should be pretty easy to implement.

[2013-01-22 13:47] chrisnharvey commented on #269
Nice idea :)

Sent from my iPhone

On 22 Jan 2013, at 12:52 PM, Jamie Holdroyd notifications@github.com
wrote:

Just gotten a suggestion to add a cart widget which would be very handy to
have. Adding this to 1.2.0 as it should be pretty easy to implement.

—
Reply to this email directly or view it on
GitHubhttps://github.com/firesale/FireSale/issues/269.

[2013-01-22 14:36] parafas commented on #251
got an issue with apc_fetch() - undefined function... but it is because the APC extension was not installed in the PHP.
more info: http://php.net/manual/en/apc.installation.php

[2013-01-22 15:56] jHoldroyd commented on #251
Strange, we set a default and a fallback, if APC isn't found it should switch to using file caching.

If you open up firesale/libraries/firesale.php near the top of the file you'll see a reference to caching with APC and file set. If you change APC to file and give that a shot it should work as a temporary measure while we figure out why it's not defaulting how it should.

[2013-01-22 16:15] chrisnharvey commented on #251
I think this issue varies from server to server. For me, CodeIgniter has never been able to correctly detect if it should use the backup adapter, perhaps we should just default to file or allow the admin to change the settings in a config file or in the control panel.

[2013-01-22 16:28] parafas commented on #251
changing for file worked fine.

On 23 January 2013 02:45, Chris Harvey notifications@github.com wrote:

[2013-01-22 19:18] jcastillotx commented on #241
what file is this located at

[2013-01-22 19:23] jcastillotx commented on #210
Ok still getting no charges when I use Paypal express. It takes me to paypal and I see the order but when I pay nothing goes through.

[2013-01-22 19:44] jHoldroyd commented on #210
I think Chris has a fix for this that just needs pushed, I'll see if he can get that done tonight for you.

[2013-01-22 19:45] jHoldroyd commented on #241
That looks like controllers/front_cart.php

[2013-01-22 22:29] ghost commented on #268
Thanks for that information. Do you have a deadline? Or same beta

[2013-01-22 23:45] jHoldroyd commented on #268
It's a little outdated for our 1.2 version and pyro 2.2 but possibly this weekend I'll get a beta in place for trying out

[2013-01-23 01:02] jcastillotx commented on #210
Thanks and let me know what happens

[2013-01-23 11:20] jHoldroyd commented on #269
Forgot to tag this one, closed with https://github.com/firesale/FireSale/commit/14dad4c1f30cb708ad5437b2985c17f23030fd7f

[2013-01-23 11:20] #269 closed, assigned to jHoldroyd

[2013-01-23 14:43] parafas opened #270 "tax calculation"
perhaps would be good to have an option to select if the tax is already included in the sale price or not. Because we have difference between both calc. methods.

[2013-01-25 09:51] jHoldroyd commented on #252
Closing now as this is in and working.

[2013-01-25 09:51] #252 closed, assigned to jHoldroyd

[2013-01-26 10:14] ChristianGiupponi opened #271 "Currency problem after Save"
Hi,
I've just created a test site with PyroPro 2.2 and FireSale 1.2-dev but I'm not able to modify currency.
If I edit the Default currency and try to save I receive a "The action you have requested is not allowed."
Is it normal?

No problem if a add a news currency but the errors comes up if I try to edit also the new one

[2013-01-26 10:17] ChristianGiupponi opened #272 "Save new product issue"
When I try to save a new product db fails:

Errore del database

Error Number: 1054

Unknown column 'default_jt.row_id' in 'where clause'

SELECT \* FROM `default_firesale_products_firesale_categories` AS `jt` JOIN `default_firesale_categories` ON `jt`.`firesale_categories_id` = `default_firesale_categories`.`id` WHERE default_jt.row_id = 1
Errore del database

Error Number: 1054

Unknown column '

[2013-01-26 13:08] jHoldroyd commented on #272
How old is the pyro 2.2 install and how old is the firesale 1.2 you're testing on? We've seen that issue before but fixed it a while ago when we first started on 2.2 compatibility. Also try using the multiple field type from our repo rather than Adams.

[2013-01-26 13:08] jHoldroyd commented on #271
I'll take a look into this now but I have a feeling it'll be related to the other issue you posted

[2013-01-26 13:08] jHoldroyd commented on #271
Wrong button when posting sorry!

[2013-01-27 09:13] ChristianGiupponi commented on #271
I've just re-downloaded the 2.2 pro and the 1.2 firesale but the error still exists, no problem in creation but error on edit.
You're not able to replicate this error?

[2013-01-27 09:18] ChristianGiupponi opened #273 "Brands Design issue in Admin panel"
When you click on the "Brands" label the view display everityng eccept the other label to change section su as "Producs, categories etc"

[Image](http://awesomescreenshot.com/06fuqgcbf)

[2013-01-27 15:00] jHoldroyd commented on #273
That's because we're currently stripping out all of the hacks we put in place to merge all modules into one list as we can just add them to the dropdown now without any merging like we had to do in the past. This should be fixed when this process is done but I'll leave it open and assign it to Chris until then.

[2013-01-27 15:01] jHoldroyd commented on #271
I haven't tried to replicate it yet but I know last time I did it on the 2.2 branch it worked but I'll give it a try now and see what I can find out for you.

Edit: Just tried to edit the default which worked, created a new one and edited it and that worked fine too. Could you give me the values of your currency and the changes you're trying to make to it please?

[2013-01-27 23:04] wshatch opened #274 "CSRF issue when editing a product."
Using PyroCMS 2.2dev commit cad18a3dd25c2731812db17c248d02b102b102ed082e
Using Firesale 1.2dev commit b3f47fea7e60303c6169c839076822c3c363fa9f

When I hit "save" on editing a product I get

An Error Was Encountered [ 500 ]
The action you have requested is not allowed.

Also, there's no CSRF token field in the form.

[2013-01-27 23:14] wshatch opened #275 "Quick Edit is unable to edit price"
Firesale 1.2dev commit b3f47fea7e60303c6169c839076822c3c363fa9f
Pyrocms 2.2dev commit cad18a3dd25c2731812db17c248d02b102ed082e

Every field except price is able to be edited in quick edit.

[2013-01-27 23:21] wshatch opened #276 "Editing a product right after creating a product gives me a DB error"
Using PyroCMS 2.2dev commit cad18a3dd25c2731812db17c248d02b102b102ed082e
Using Firesale 1.2dev commit b3f47fea7e60303c6169c839076822c3c363fa9f

Getting this database error when I try to edit a product after saving. Might have something to do with the fact that I haven't created any categories yet.

A Database Error Occurred
Error Number: 1054

Unknown column 'category' in 'field list'

UPDATE `def

[2013-01-28 02:24] wshatch commented on #274
For some reason, config['csrf_protection'] is set to false when the edit function is called, but set to true when create is called. Any ideas?

[2013-01-28 03:03] wshatch commented on #274
Fixed in my latest pull request.

[2013-01-30 09:40] jHoldroyd commented on #274
This is a weird one and is not something we've had before but I'll ensure that all forms have protection added just in case. Thanks for pointing it out and as you stated it's fixed I'm presuming it was related to the none-clean URL fix that you posted?

[2013-01-30 09:41] jHoldroyd commented on #275
I'll look into this one in a moment, quick edit is due to get a few updates very soon to fix a few other known issues and inconsistencies.

[2013-01-30 09:42] jHoldroyd commented on #271
Can I just ask, what are the errors that are coming up? Should have asked that sooner!

[2013-01-30 09:46] ChristianGiupponi commented on #271
Just:

An Error Was Encountered [ 500 ]
The action you have requested is not allowed.

[2013-01-30 09:48] jHoldroyd commented on #271
Ah, then we should actually have a fix for this one then, did you not enable mod_rewrite on install and are the URLs using index.php?

[2013-01-30 09:51] ChristianGiupponi commented on #271
Yes, I use index.php is this the problem?

[2013-01-30 09:54] jHoldroyd commented on #271
Yes it is, as @wshatch noted in another issue we haven't enabled CSRF checks in most (all?) of our admin forms which was an oversight and this only causes a problem when you're not using mod_rewrite. It's a simple fix that I'm currently working through now.

[2013-01-30 10:28] jHoldroyd commented on #271
Ok so all of our forms are using the correct method for CSRF checks, however because of the url structure of not using mod_rewrite in a number of places the links to get to edit caused it to goto index.phpadmin/ which is what caused the issue. This has been fixed in the last commit and if you update everything should work correctly again.

[2013-01-30 10:28] #271 closed, assigned to jHoldroyd

[2013-01-30 10:31] jHoldroyd commented on #274
This should be taken care of now with the last commit

[2013-01-30 10:31] #274 closed, assigned to jHoldroyd

[2013-01-30 10:34] jHoldroyd commented on #276
Category doesn't exist as a field in the products table and I have a feeling the latest updates to streams continue to break the multiple field type that we use for it. I'll have a look into this issue but could you make sure you're using this version of it https://github.com/firesale/PyroStreams-Multiple-Relationships

[2013-02-08 03:34] parafas opened #279 "Product Price and its variantions"
After updating a product price, it is not updating its variantions current prices (if it has price assigned).

[2013-02-08 12:52] #210 closed, assigned to chrisnharvey

[2013-02-14 11:43] jHoldroyd commented on #279
We'll look into this and see if it's just a caching issue or if it's really not being updated.

[2013-02-14 13:20] #279 closed, assigned to AJSturrock

[2013-02-18 09:33] #251 closed, assigned to nobody

[2013-02-18 16:37] #275 closed, assigned to jHoldroyd

[2013-02-18 16:45] jHoldroyd commented on #248
Ok after more attempts to replicate this on a range of servers, still no joy. We're closing this until we get more confirmations that it's happening on newer 1.2/develop builds.

[2013-02-18 16:45] #248 closed, assigned to jHoldroyd

[2013-02-18 16:50] jHoldroyd commented on #256
I've moved this to 1.3 because without a total rewrite (which will happen in 1.3 anyways) we can't fix this problem easily.

[2013-02-18 16:59] #265 closed, assigned to nobody

[2013-02-18 17:00] jHoldroyd commented on #241
This should have finally been fixed with a commit a few days ago.

[2013-02-18 17:00] #241 closed, assigned to nobody

[2013-02-18 17:03] chrisnharvey opened #280 "Automatically mark the order as paid if the total is 0"
If the contents of the cart is free then we don't need to send the user off to a payment gateway. Instead we should just mark the order as paid and redirect them to the order complete page.

[2013-02-23 03:00] prashanna opened #281 "Cannot add "category" while creating product in pyrocms 2.2"
I have just installed FireSale 1.2dev in PyroCMS 2.2.0-rc2 and tried to create product but I cannot choose category for the product. Drag and drop is not working.

Also the dropdowns in the admin menu are disabled from create product page.

[2013-02-23 12:07] jHoldroyd commented on #281
Chances are there's a few JS errors being thrown that will just be stopping this stuff in 2.2 now. We've been holding off on finally doing our compatibility because we thought we had it three times now and more things kept changing with streams to break FireSale. As we're close to a release though we'll be taking care of this remaining issues and getting compliant in the next few days.

[2013-03-04 16:36] jHoldroyd commented on #281
Just checked and this was indeed related to the multiple field type which has been fixed by Adam

[2013-03-04 16:36] #281 closed, assigned to jHoldroyd

[2013-03-04 16:37] jHoldroyd commented on #276
After some testing of newer versions and the updated multiple field type this seems to be fixed now.

[2013-03-04 16:37] #276 closed, assigned to jHoldroyd

[2013-03-04 16:38] jHoldroyd commented on #272
Another issue that seems to have been sorted by the updated version of the Multiple field type or a newer version of Pyro.